[2013-12-20 19:02] adambant opened #4 "Using multiple providers"
Having difficulty figuring out best way (or any way) to use multiple providers with the Laravel module. Could a few examples be given?

Thanks
Adam

[2013-12-21 19:05] leigeber opened #5 "Laravel 4.1 Missing argument 2 for Geocoder\Provider\CloudMadeProvider::__construct()"
Get the error below. I am not seeing where the API key is supposed to be set that should be getting to the CloudMade provider. Am I doing something wrong here? Thanks.

[code]

[2014-01-07 20:13] samward1985 opened #6 "Perhaps support reverse geocoding?"
Would be pretty simple to implement, at least for Google Maps. I might just do it and submit a pull request.

https://developers.google.com/maps/documentation/geocoding/

[2014-01-12 22:36] #6 closed, assigned to nobody

[2014-01-14 00:16] #4 closed, assigned to nobody

[2014-01-30 15:32] mlrlite opened #7 "Chain Question"
When using the chain method, is there anyway to determine which provider returned the result.

Ex:

$geocoder = new \Geocoder\Geocoder();
    $adapter  = new \Geocoder\HttpAdapter\CurlHttpAdapter();
    $chain    = new \Geocoder\Provider\ChainProvider(array(
        new \Geocoder\Provider\FreeGeoIpProvider($adapter),
        new \Geocoder\Provider\HostIpProvider($adapter),
        new \Geocoder\Pr

[2014-02-03 22:47] #7 closed, assigned to nobody

[2014-02-13 14:13] Forbin opened #9 "Of API keys and large batches"
1) Not sure where to put the api keys in the Laravel version of geocoder. I do not see how in the config, so I am placing them in the willdurand provider files directly. That does not seem right. With the API keys in those files  I am not getting anything back for MapQuest and CloudMade.

2) I am trying to process about 300,000 addresses for a database. Which provider would be best for that?

[2014-02-13 23:37] Forbin opened #10 "Implementation of Geocoder.ca seems to be wildly off"
While it came back with many results, they were off by quite a bit. I called geocoder.ca and they passed the same string into their system and it came back accurately. For example http://geocoder.ca/?locate=630+University+Ave%2C+Palo+Alto%2C+CA%0994301-2019&geoit=GeoCode works in their system, but when I pass the string "630 University Ave, Palo Alto, CA    94301-2019" your system ( with 'provider

[2014-02-14 15:34] #10 closed, assigned to nobody

[2014-05-12 22:39] #5 closed, assigned to nobody

[2014-05-12 22:42] #9 closed, assigned to nobody

[2014-05-21 20:54] robrohan opened #11 "HTTP Auth keeps coder from working"
We have a dev server with basic http auth on it.  For some reasons, http auth breaks the GoogleMapsProvider (I am assuming others too).  We're using the CurlHttpAdapter.  With http auth off, it works fine.

Anyway, it might be nice to note that in the documentation or, if possible, work even with http auth on the server.

[2014-06-23 10:21] Igor-lkm opened #13 "Are language and region working?"
Good day, thanks you for the great plugin!

[code]

return results in English only for me. So are  language and region working?

[2014-07-28 20:48] #13 closed, assigned to nobody

[2014-07-29 16:21] #11 closed, assigned to nobody

[2014-09-10 22:26] bartmoons opened #14 "No provider could provide the address Error"
I edited my config file to

[code]

On my local server it's working fine, but once I try it online I get the

[code]

I also tried ('en_EN', 'English', $ssl = true, 'xxxxxxxxxxxxxx api-key xxxxxxx'), but that didn't work either.
Any ideas?

[2014-09-18 15:11] #14 closed, assigned to nobody

[2014-12-19 22:03] mackhankins opened #16 "Using Dumpers"
Have you considered adding the dumpers feature?  Any idea how to implement this?

[2015-01-05 14:32] cinilak opened #17 "How can I get multiple results from GoogleMaps when geocoding?"
Apologies if this is a silly question, but I wasn't able to get multiple results which I would get when using Google geocode API nativelly (on it's own).

[2015-01-05 22:50] toin0u commented on #17
Hi @cinilak :) There is no silly question !
The Geocoder ~2.x uses a ResultFactory. The DefaultResultFactory takes into account only the first result. If you need mutilple results you need to use the setter:
[code]

Hope this will help you :) Feel free to open/comment this ticket if you need more assistance !

[2015-01-05 22:50] #17 closed

[2015-01-06 10:42] cinilak commented on #17
Lovely, thank you so much!

[2015-01-06 10:43] toin0u commented on #17
You're welcome :)

[2015-02-16 14:37] verkaufer opened #18 "Laravel 5 Support"
Are there any plans to test this with Laravel 5?

[2015-02-16 21:18] toin0u commented on #18
I didn't planned yet but it should be done :)

[2015-02-19 19:14] funkflute commented on #18
+1

[2015-02-23 20:33] zhuston commented on #18
:+1:

[2015-02-24 19:30] aoverall commented on #18
+1

[2015-02-26 20:26] toin0u commented on #18
@verkaufer @funkflute @zhuston @aoverall I've just committed a version which should work with Laravel 5 in the master branch. Can you please try this version `"toin0u/geocoder-laravel": "0.4.*@dev"` and come with some feedbacks please ? :) If it's working as expected I'll update the doc and tag a new version.

[2015-02-26 21:54] verkaufer commented on #18
Composer still thinks geocoder-laravel wants illuminate/support=~4.0

  Problem 1
    - Conclusion: remove laravel/framework v5.0.7
    - toin0u/geocoder-laravel 0.4.0 requires illuminate/support ~4.0 -> satisfiable by illuminate/support[v4.0.0, ... {just repeated incrementing versions listed here} ... v4.2.9].
    - toin0u/geocoder-laravel 0.4.1 requires illuminate/support ~4.0 -> satisfiable by

[2015-02-26 21:55] toin0u commented on #18
That's pretty weird... https://github.com/geocoder-php/GeocoderLaravel/blob/master/composer.json#L17

[2015-02-27 14:34] verkaufer commented on #18
I removed the `minimum-stability` from `composer.json` and clear the composer cache, but that didn't make a difference.

[2015-02-27 14:38] toin0u commented on #18
Ok thanks for your feedback. There is obviously more work to do for that :)

[2015-02-27 14:42] verkaufer commented on #18
If it helps any, your geotools-laravel package installs without any issues for L5 :)

[2015-02-27 14:47] toin0u commented on #18
Thank you @verkaufer :)

[2015-03-02 14:28] verkaufer commented on #18
Just an update:

Using toin0u/geocoder-laravel: "dev-master" works when used in composer.json. The package works perfectly, so I think the only issue is tagging it for release.

[2015-03-02 14:57] toin0u commented on #18
Cool! So I just need to update the doc and tag the master branch then :)

[2015-03-11 22:16] toin0u commented on #18
I've just tagged a new version :) Thanks everyone for your help!

[2015-03-11 22:16] #18 closed

[2015-04-03 19:13] davidnknight opened #21 "Requires illuminate/support error"
Hi!

On adding the package and running `composer update` I'm getting the following error in the console.

<pre>[master] ⚡ composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.0.26
    - Conclusion: don'

[2015-04-16 07:51] toin0u commented on #21
@davidnknight Sorry for this late comment. I was in vacation. I will look at it asap.

[2015-04-21 09:35] willdurand opened #22 "Upgrade to Geocoder v3"
This requires to release a new major version :)

[2015-05-07 22:09] toin0u commented on #21
I've tried but cannot reproduce.. Can you show me your `composer.json` file if possible?

[2015-05-07 22:10] toin0u commented on #22
Yes! Definitely :+1:

[2015-05-27 14:52] mhughes opened #24 "MaxmindBinaryProvider is being instantiated with an adapter instance, which it does not expect"
The geocoder service provider instantiates an http adapter which MaxmindBinaryProvider does not expect nor require, as the first parameter on the constructor.  I'll be submitting a workaround in a pull request later.

[2015-06-04 13:30] 1915 opened #25 "Nothing to publish"
Going with the instructions, but when I get to this part:
php artisan vendor:publish --provider="toin0u/geocoder-laravel"

The cli just returns "Nothing to publish". No config file is written and nothing is written to config/services

Tried on both 0.5.0 and 0.5.x-dev.

[2015-06-09 22:37] CWSpear opened #27 "Laravel 5.1 Support"
Currently, the `"illuminate/support"  : "5.0.*",` require statement makes this unable to install on Laravel 5.1, which needs `laravel/support` >= 5.1

[2015-06-13 20:39] ijett commented on #25
I confirm
the same problem, laravel 5.0.*, GeoLaravel 0.5.0

[2015-06-15 04:27] ferrysutanto19 commented on #14
guys, i have the same error too.
i just followed the basic tutorial
and it says "No provider could provide the address "10 rue Gambetta, Paris, France".

fyi, i'm using xampp with php 5.6
laravel 5.0

[2015-06-15 14:16] 1moere1 commented on #14
same problem as ferrysutanto19 has

[2015-06-16 12:45] fabioi commented on #14
+1

[2015-06-16 13:02] fabioi commented on #14
Hi, just a note, following the example here https://github.com/geocoder-php/GeocoderLaravel/issues/9 I made it work.

###geocoder.php
[code]
###the file where you perform the geocoding
[code]

Hope it helps,

Fabio

[2015-06-17 19:20] zawilliams commented on #25
Same issue here. Running laravel 5.0.* and GeoLaravel 0.5.0

[2015-06-18 16:28] zawilliams commented on #25
I just ran only `php artisan vendor:publish` instead of with the provider tag and it published. Strange.

[2015-06-18 21:29] ijett commented on #25
zawilliams, really its work, good!

[2015-06-19 06:10] zawilliams opened #28 "MaxMindBinary config"
Looked through the code but can't find the proper way of using the MaxMindBinary. Anyone know how to properly set this up?

[2015-06-20 10:36] SimonErich commented on #25
If you only want to publish config and so on for this package only, you can also use:
```php artisan vendor:publish --provider="Toin0u\Geocoder\GeocoderServiceProvider"```

[2015-06-23 18:04] zawilliams commented on #25
Thanks @SimonErich - that works!

[2015-07-03 17:47] azcoppen commented on #27
+1

[2015-07-04 14:09] victor-ponamariov commented on #27
+1

[2015-07-04 21:12] scalerboy commented on #27
+1

[2015-07-06 14:46] chungth commented on #27
+1

[2015-07-10 03:53] ferrysutanto19 commented on #27
+1

[2015-07-10 09:04] #27 closed

[2015-07-12 13:39] bart opened #31 "It does not work with Laravel 5.1"
Would you please update the dependencies to Laravel ~5.1? Thanks dude.

Getting:
[code]

[2015-07-12 18:34] bart commented on #31
Okay it seems like you have to give packagist a refresh, because in https://packagist.org/packages/toin0u/geocoder-laravel#dev-master Laravel 5.0.* is set as requirement with the last update from 2015-04-16 07:50 UTC which is wrong.

[2015-07-14 20:15] gilbertsmith commented on #31
Getting the same thing. Need the dependencies updated to 5.0 +

[2015-07-15 10:02] martinbean commented on #31
+1.

Package needs updating on Packagist, as it’s still reporting illuminate/support 5.0.* is required, therefore I can’t install it in my 5.1.* Laravel application.

[2015-07-16 00:45] richcoremedia commented on #31
waiting for the update at ~L5.1

[2015-07-17 01:18] jakeryansmith commented on #31
+1

[2015-07-17 09:10] martinbean commented on #31
@toin0u @willdurand Can one of you guys take a look at this when you get a couple of minutes spare, please?

[2015-07-21 16:59] jbdivups commented on #31
+1

[2015-07-21 17:07] martinbean commented on #31
What’s the hold up with this?

[2015-07-21 20:39] bart commented on #31
None of the main contributors does trigger a refresh on packagist. This is very annoying.

[2015-07-22 20:38] mikefrancis commented on #31
+1

[2015-07-26 04:51] pbean commented on #31
Hey folks,

wanted to say I put together a workaround until its updated on packagist. I unfortunately don't have the time to wait I have a project due very soon and this is one of the last pieces i wanted to utilize to save me a massive headache. in your composer json, right above require add:
[code]
and in require add
[code]

everything now installs properly. I'm new to the whole composer and bac

[2015-07-27 06:53] willdurand commented on #31
I don't have admin rights on Packagist. @toin0u is on vacations right now, so let's wait a bit.

[2015-07-27 08:52] pbean commented on #31
Hey folks

I'm on a tight timeline for a project and I needed this package so I put together a work around. I'll include it here hoping to help others if they absolutely need it since the git master branch already has the package dependencies updated.

add this above your require in your composer.json
[code]
This will pull from github instead once you have that placed you can then add the followin

[2015-07-28 06:02] bart commented on #31
Thanks for your reply @pbean. This is a good temporary workaround for sure, but I wanna wait for @toin0u being back from holidays.

@willdurand Do you know when he is back?

[2015-07-28 12:32] willdurand commented on #31
Ok folks, I've released [0.6.0](https://github.com/geocoder-php/GeocoderLaravel/releases/tag/0.6.0). Let me know if it works for you.

[2015-07-28 12:32] #31 closed

[2015-07-28 12:33] #25 closed

[2015-07-28 12:34] #21 closed

[2015-07-28 12:35] martinbean commented on #31
@willdurand The issue isn’t the version of GeocoderLaravel. The issue is it’s not been updated on Packagist: https://packagist.org/packages/toin0u/geocoder-laravel

If you look, it says it requires version 5.0.* of illuminate/support, which means it’s locked to Laravel version 5.0.* only.

[2015-07-28 13:08] willdurand commented on #31
Ok. It should be better now.

[2015-07-28 20:46] bart commented on #31
Looks good on packagist now, thanks a lot!

[2015-07-28 20:55] martinbean commented on #31
W00t!

[2015-08-13 05:14] eswarreddy43 opened #32 "Get list of cities come under geometric rectangle bounds"
In my app user will select specific area on google map with rectangle, circle or polygon. So from that selected area, i need to list down the cities.

For example user selected rectangle shape on google map with following bounds:

[code]

So do we have any function for getting cities list using Geocode?

[2015-08-21 10:58] mitzz007 opened #33 "Issue in getting latitude and longitude using Bing Maps"
After following all the steps written in github for implementing geo-coding, I got the output for google maps. Repeating the same steps for the bing maps I got the output (latitude and longitude) using correct API key.
Issue is:
1: The value got from both the maps are not exactly same after decimal.
2: Bing map is not reliable (When I tried using bing map again after some period of time I didn't g

[2015-09-13 21:07] Cayan commented on #22
+1

[2015-09-16 10:34] simplenotezy opened #34 "Simple IP lookup generates error"
I get the following error:

     Missing argument 2 for Alexpechkarev\GoogleGeocoder\GoogleGeocoder::geocode(), called in /home/vagrant/Projects/athliit/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php on line 210 and defined

When I try to do:

    Geocoder::geocode('my-ip-address');

With my config looking like so:

	<?php

	return [
		// Providers get called in the chain order

[2015-10-06 16:20] lukepolo opened #35 "Upgrade to 3.1 GeoDecoder"

[2015-10-27 10:11] Ycfx commented on #27
+1

[2015-10-27 10:12] willdurand commented on #27
@Ycfx I think it's fixed.

[2015-10-27 13:47] Ycfx commented on #27
thank you i realized that,
sorry.

[2015-11-28 07:21] TheMonk opened #36 "Calling statically generating an error"
Hi,

Not sure if this is the right place. I've been trying to update aon older Laravel project and at the same time upgrade GeoCoder.

Here's the error I'm getting:
"Non-static method Geocoder\Geocoder::geocode() should not be called statically, assuming $this from incompatible context"

And it's being called from
[code]

Any idea what could be causing the error? All docs seem to indicate this is

[2015-11-28 23:44] TheMonk commented on #36
Hmm so after removing the package and re-installing I now get the following error:

[code]

I followed the instructions here on the main page to the letter, including updating the vendor packages via composer. I also modified the provider and aliases to the Laravel 5.1 format:

[code]
and
[code]

What am I missing?

[2015-11-29 00:13] TheMonk commented on #36
Note that I'm attempting to call this from a controller not sure if the syntax should be altered in that case.

[2015-11-29 02:55] TheMonk commented on #36
The issue was the call in the controller. Instead of calling
[code]
Changed it to
[code]

[2015-11-29 02:55] #36 closed

[2016-01-08 09:35] kallyssi commented on #14
hi,
i am getting the same issue in my local machine. please help me on this.

[2016-01-11 19:50] andreasba opened #40 "Umlaut in the default region breaks results (?)"
For

[code]

The configuration

[code]

will return a result. For the configuration

[code]

too. But for

[code]

it will fail:

[code]

I gues it is the umlaut (Ö?)

Thanks
Andreas

[2016-02-25 19:24] #28 closed

[2016-02-27 18:34] jahnni commented on #14
hi there, i had the same issue and finally realized i didn't install php5-curl...

[2016-03-08 02:45] emarino0411 opened #43 "Using Geocoder::geocode within a loop gets Server Time Out."
Hi I have this code:

foreach ($results as $result) {
        $barangay = DB::table('rbrgy')->where('bgycode', $result->barangay)->first();
        $loc = getBrgyName($barangay->bgycode) . ', '
                . getCityName($barangay->citycode) . ', '
                . getProvName($barangay->provcode) . ', '
                . getRegion($barangay->regcode) . ', '
                . 'Philippines';

[2016-04-15 07:25] philippejadin opened #45 "How to set curl proxy in config ?"
Hello,

In config/geocoder.php, how can I set the proxy?
I tried that :

[code]

But it doesn't work :-/

[2016-06-03 17:11] vinaykevadia opened #46 "Update Readme.md for vendo-publish command"
This is how it is working for laravel 5 to publish vendor-config.
php artisan vendor:publish --provider="Toin0u\Geocoder\GeocoderServiceProvider"

[2016-06-22 05:31] cerw commented on #22
+1

[2016-07-20 14:36] zanematthew commented on #46
👍

[2016-07-20 15:06] zanematthew commented on #34
I don't see this as an issue reference an old issue #13 with that address it works as expected.

[2016-09-09 19:14] hohl opened #47 "Use different geocoders"
Sometimes I want to geocode IP addresses of my users and sometimes I want to geocode addresses. For the IP addresses I would like to use the `FreeGeoIpProvider`, for the addresses I would like to use the `GoogleMapsProvider`. Is there any way to switch between the configured providers in code?

I've seen there is a method called `using` in the `Geocode` facade. However, I couldn't get it working.

[2016-09-11 13:15] xitude commented on #47
Why dont you use `as` in the the namespace
e.g.
`use FreeGeoIpProvider as FreeIP`
`use GoogleMapsProvider as GoogleMaps`

Then update the façade you call.

[2016-09-11 14:52] hohl commented on #47
How should the `use` statement help me with my problem, xitude? I want to use the `Facade` provided by this plugin with different providers. If I would use the providers directly I wouldn't need that plugin at all because then I could have used the [Geocoder](http://geocoder-php.org/Geocoder/) package directly. (Which may not even a bad idea, since this plugin seems a bit outdated too, since it st

[2016-09-11 14:58] mikebronner commented on #47
@hohl, that's exactly what I did yesterday. Upgraded to the php version of geocoder, and it ended up being even easier to use than this one. While I appreciate the work done on this package, it being out of date is actually starting to cause problems (which were aleviated as soon as I implemented the current php package).

[2016-09-11 16:05] xitude commented on #47
@hohl sorry I misread the question..

[2016-09-22 22:36] ghurson commented on #21
Hello! Total noob here -

I'm having the same issue - my composer.json file is below.

If I remove either geotools or geocoder, everything works - but when I have them both I get this same error.

Cheers!

`
{

    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "

[2016-09-22 22:43] mikebronner commented on #21
Your problem is that the geocoder-laravel version installed doesn't support Laravel 5.3. Try not to use the `@stable` tag, but instead `^0.6`. However, it won't help, as it only supports Laravel 5.0. I would recommend using the geocoder php library instead of this one.

[2016-09-23 12:36] ghurson commented on #21
Thanks for the heads up! I really appreciate it. Will do.

[2016-09-23 12:42] willdurand commented on #21
@mikebronner would you like to give a hand on the `GeocoderLaravel` project? It looks like you know Laravel well, and it would be very useful to have you on board.

[2016-09-23 13:23] mikebronner commented on #21
Would be honored to!

[2016-09-30 00:57] jryd commented on #14
I am getting the same issue. php5-curl is installed on my machine so it isn't that.

My `geocoder.php` file looks like this:

[code]

And then in my controller:

[code]

This returns `No provider could provide the address "Brisbane, Australia"` for me every time.

Any ideas?

[2016-09-30 01:02] jryd commented on #14
Using the solution @fabioi suggests works for me. However we shouldn't have to do all that inside the controller right?

[2016-09-30 03:32] mikebronner commented on #14
@jryd You are absolutely correct, most of that should be extracted out to the Service Provider. We are working on getting an new release out real soon that will bring it up to par with the latest Geocoder version, and work with a single line of code, something like:
[code]

(Or similar.) I'm working out the final details and writing some unit tests, and should have a new version ready soon there-a

[2016-09-30 03:56] jryd commented on #14
Awesome, thanks @mikebronner

[2016-09-30 13:10] mikebronner commented on #47
Working on new release ... will add example to documentation.

[2016-09-30 13:13] mikebronner commented on #35
PR is forthcoming: #48

[2016-09-30 13:13] #35 closed

[2016-09-30 13:17] mikebronner commented on #22
A new version is forthcoming that will address this. :) #48

[2016-09-30 13:17] #22 closed

[2016-09-30 13:22] mikebronner commented on #43
Hi @emarino0411, can you provide more details:
- which adapter are you using?
- which provider are you using?

I have found that adding a wait time of 250ms between each request for GoogleMaps aleviates this (they rate-limit their APIs) -- other providers may do that as well.

[2016-10-01 02:45] mikebronner commented on #47
Having researched this some more, this will require a separate PR. However, I would like to implement it, as I think its increadibly useful. I will submit a PR to the parent repo, and if that is rejected, implement it locally for the laravel repo (however, that might cause some oddities as we would have diverging functionality, something we should avoid). If anyone wants to help out with this, ple

[2016-10-01 03:27] mikebronner commented on #40
I have not been able to reproduce this on the new version that is forthcoming. Please keep us posted after the next release if it is still an issue.

[2016-10-01 03:31] mikebronner commented on #33
Has this been resolved, or is it still an issue? I don' t have a Bing Maps API key, but if its still an issue I will make one to try to reproduce.

[2016-10-01 04:08] mikebronner commented on #24
This should be fixed in the next release, if it does happen again, please reopen this issue.

[2016-10-01 04:10] mikebronner commented on #47
Figured out a better solution requiring no additional PR. Will be in next release. Please keep an eye on this and re-open if it happens again after release. Thanks :)

[2016-10-01 16:45] mikebronner commented on #45
This might not be possible just yet. Have you found a work-around in the meantime? None of the adapters I seem to document how to implement a proxy. The library `egeloen/http-adapter` used for adapters in Geocoder 3.x has since been deprecated, and doesn't document use of proxies (at least that I can find) either.

If anyone can contribute to this discussion on how to implement proxies with Geocod

[2016-10-01 16:54] mikebronner commented on #32
At this time there is no bounds lookup on the GoogleMaps provider. This would be a good thing to submit as an issue on the geocoder-php repo (or even a PR).

[2016-10-01 18:11] mikebronner commented on #16
This will be available in the next release. :) Should be forthcoming shortly.

[2016-10-06 19:06] bingalls opened #50 "Update geocode"
In short: GeocoderLaravel v0.6 uses an obsolete GuzzleHttp v3 library.
Details:
The latest stable "toin0u/geocoder-laravel": "^0.6.0" requires years-old "willdurand/geocoder" : "~2.4"
This old version of geocoder has an old Geocoder/HttpAdapter/GuzzleHttpAdapter.php that calls
use Guzzle\Service\Client;
This is old Guzzle 3.0 code
http://mtdowling.com/blog/2012/10/16/guzzle-3-dot-0-better-service-

[2016-10-07 14:20] mikebronner commented on #50
Hi @bingalls, we're working hard on getting this out sooner than later. You can access the feature branch in composer using the following syntax:
[code]

You may or may not need to add the `repositories` declaration:
[code]

Closing this, as this is really a duplicate of many other issues asking for the upgrade, and we're almost ready to release it.

If you do decide to use the feature branch, ple

[2016-10-07 14:20] #50 closed

[2016-10-07 14:21] mikebronner commented on #33
Have not received a reply over the week, closing for now. If this is still an issue, please do re-open it, and we will look into it. :) Thanks!

[2016-10-07 14:21] #33 closed

[2016-10-14 03:03] #16 closed

[2016-10-14 03:03] #24 closed

[2016-10-14 03:03] #34 closed

[2016-10-14 03:03] #46 closed

[2016-10-14 03:03] #47 closed

[2016-10-14 07:14] willdurand opened #51 "Update badges on README"
I think we should change the badges now that we are back on Travis-CI, right?

[2016-10-14 13:26] zanematthew commented on #34
Recently updated my GitHub notifications settings, must say I do enjoy messages showing constant issue pruning :)

[2016-10-14 14:16] mikebronner commented on #51
Hi Will, unfortunately not yet (I left a comment as to why on the PR, but that probably didn't send out a notification).
TravisCI has a known CURL bug that prevents the tests from succeeding, so it will always show failing unit tests, no matter what, when that's not actually the case. I'd rather not show failing build badges if they aren't accurate. :)
Once Travis upgrades to Ubuntu16, I believe t

[2016-10-14 14:31] willdurand commented on #51
A curl bug? With PHP stable versions?

I don't have notifications for GitHub, so I probably missed it sorry for the noise then...

[2016-10-14 16:35] mikebronner commented on #34
I'm trying :) hehe

[2016-10-14 16:37] mikebronner commented on #51
It's actually an issue with the OpenSSL implementation. I will get the specifics and add them here.

[2016-10-14 19:25] willdurand commented on #51
So, all version of PHP are affected? Looks pretty serious to me

[2016-10-14 20:00] mikebronner commented on #51
The reason this is coming up now is because I am running end-to-end integration tests, which go out over the wire. (That wasn't happening before.) Here is a bit more illumination on the matter: http://stackoverflow.com/questions/38375211/curl-error-35-gnutls-handshake-failed

[2016-10-25 07:10] eswarreddy43 commented on #32
Yes, Thanks @mikebronner for your valuable input.

[2016-11-08 19:39] ellisio opened #52 "[Feature Request] Apartment numbers (subpremise)"
When parsing an address with an apartment number, you receive a "Subpremise" attribute. This attribute is typically mapped to an "Address Line 2".

For example: https://maps.googleapis.com/maps/api/geocode/json?address=2123%20W%20Mineral%20Ave%20Apt%2061,%20Littleton,%20CO%2080120

It would be nice to have this added as the `subpremise` on the `Address` object.

[2016-11-09 03:26] scottgrayson opened #53 "What is the vendor::publish command?"
[code]
[code]
[code]
tried a few different ones. I assume i just need to copy paste the config/geocoder.php to my app

[2016-11-09 03:36] mikebronner commented on #53
Let me take a look this week as to what is going on. Thanks for reporting this. Planning to release v1 final this weekend. :)

[2016-11-09 03:37] mikebronner commented on #52
Will take a look this week, thanks for reporting this! :) (Fair warning, this might be an issue with the underlying geodocer-php library.)

[2016-11-09 03:38] mikebronner commented on #32
Closing for now, please re-open if this does end up being an issue.

[2016-11-09 03:38] #32 closed

[2016-11-09 03:39] mikebronner commented on #40
Closing for now, no response. Please re-open if this is still an issue.

[2016-11-09 03:39] #40 closed

[2016-11-09 03:39] mikebronner commented on #43
Closing for now, no response. Please re-open if this is still an issue.

[2016-11-09 03:39] #43 closed

[2016-11-09 17:17] scottgrayson opened #54 "Using a different http adapter"
I was getting no results using the default httpclient. so i am trying guzzle.
[code]
error response:
[code]

[2016-11-21 10:02] jryd opened #55 "No provider could geocode address"
I've followed the steps outlined to get this package installed in a new project I am working on in Laravel 5.3.

My `geocoder.php` file is set up like so:

[code]

Yet when I run `$geocode = app('geocoder')->geocode('Los Angeles, CA')->get();` or any other address I am always getting the error:

Am I doing something wrong or is there a bug?

[2016-11-23 09:32] #55 closed

[2016-11-23 09:41] jryd opened #56 "Cannot access private property when trying to access Google Maps results"
I am using this to geocode an address and dump the results so I can see them:

[code]

this works fine and I can see that it was successful as I can see all the geocoded results for LA.

When I try to begin accessing the results I get this error

This is using `dd($geocode->addresses)`.

Ultimately I just want to get the latitude and longitude from my gecoded address - how do I do this?

[2016-11-23 15:38] mikebronner commented on #56
This might be one way of doing it:

[code]

The items in geocode results collection use getters to retrieve values, instead of public properties.
Here is the relevant documentation: https://github.com/geocoder-php/Geocoder#address--addresscollection.

Hope this helps you out a bit. Please feel free to re-open if you continue to have issues.

[2016-11-23 15:38] #56 closed

[2016-11-23 15:43] mikebronner commented on #54
You need to use one of the included Ivory HTTP adapters. In this case you would want to use `Ivory\HttpAdapter\Guzzle6HttpAdapter`.

[2016-11-23 15:43] #54 closed

[2016-11-23 15:44] mikebronner commented on #53
Sorry its been taking so long to get a reply on this. Its on my radar, and will look at it as soon as possible. Happy Thanksgiving, everyone!

[2016-11-23 15:44] mikebronner commented on #52
Sorry its been taking so long to get a reply on this. Its on my radar, and will look at it as soon as possible. Happy Thanksgiving, everyone!

[2016-12-07 06:47] j2r commented on #55
@jryd - I am facing the same issue. How did you fix that ?

[2016-12-07 14:44] mikebronner commented on #55
It is likely that your configuration settings are wrong. Can you post them here?

[2016-12-08 00:48] jryd commented on #55
@j2r it actually turned out that the configuration was fine for me - it was that I hadn't enabled the Geocoding API in my console.

I was using a key that I previously used for the Javascript API and completely forgot to check I had enabled to right API.

Perhaps double check that?

[2016-12-08 04:50] IrfanS99 opened #57 "No provider could provide the coordinated"
Hi,

I am using your GeoCoder with version   "toin0u/geocoder-laravel" on laravel 5.2. I found an error: "No provider could provide the coordinated "  when I want to obtain an address using this code.
 try {
          $geocode = \Geocoder::reverse($request->input('latitude'), $request->input('longitude'))->toArray();
                } catch (\Exception $e) {
                    return $e->getMessa

[2016-12-08 15:39] mikebronner commented on #57
The version for Laravel 5.2 is broken (at least I could never get it to work right). The new 1.0.0-RC version works for Laravel 5.3 and should fix previous issues. (Unfortunately it's not L5.2 compatible.)

[2016-12-08 15:39] #57 closed

[2016-12-09 03:12] IrfanS99 opened #58 "Installation issue"
Hi,

I found an issue
![error](https://cloud.githubusercontent.com/assets/19969706/21036277/69ab6f06-bdf7-11e6-8f9e-a79fc4b90bad.png)

when I execute the installation command "composer require toin0u/geocoder-laravel:1.0.0-RC1@dev"

I already upgrade my Laravel to 5.3.26. Could you please solve my issue?

[2016-12-09 03:17] mikebronner commented on #58
Hi @IrfanS99, it looks like your composer.json still requires some updates to the dev requirements. PHPUnit needs to have a version 5 or greater, and some other errors listed here. Make sure your require-dev matches the items listed here: https://github.com/laravel/laravel/blob/master/composer.json

Let me know if that helps (I'm pretty sure it will get you up and running). :)

[2016-12-09 03:17] #58 closed

[2016-12-09 03:54] IrfanS99 commented on #58
Thank you for your quick response, @mikebronner . I think I need your help again :D. I already followed your list. However, I found this error.

![error2](https://cloud.githubusercontent.com/assets/19969706/21036946/4fe5880e-bdfc-11e6-9a05-8edb6d43a89b.png)

I saw  willdurand/geocoder 3.3.x-dev requires php-http/client-implementation ^1.0 but when I execute
"composer require php-http/client-implem

[2016-12-09 04:44] mikebronner commented on #58
Ah, thanks for this one. It looks like the dependencies got updated. I will take a look tomorrow

[2016-12-09 17:01] mikebronner commented on #58
@IrfanS99 By any chance do you have your minimum stability set to dev in composer.json? Make sure that you have it set to stable, as well as the following:
[code]

[2016-12-10 01:07] IrfanS99 commented on #58
Thank you @mikebronner, it works :)

[2016-12-10 02:36] IrfanS99 commented on #58
Thank you @mikebronner, it works after I did:
 "composer remove"
"composer clear-cache"
"composer update"

[2016-12-10 02:37] mikebronner commented on #58
Woot! :)

[2016-12-10 02:47] IrfanS99 opened #60 "No provider could reverse coordinates"
Hi @mikebronner ,

I found an error "No provider could reverse coordinates" when I do reverse using this code:
	try {
	$geocode = \Geocoder::reverse($request->input('latitude'), $request->input('longitude'))->toArray();
	} catch (\Exception $e) {
		return  $e->getMessage();
	}

I am already using "toin0u/geocoder-laravel": "1.0.0-RC1@dev" on Laravel 5.3. Do I need to config something else for reve

[2016-12-10 10:17] IrfanS99 commented on #60
Okay, I have been trying in OSX (at first, I was on Windows OS). it gives me the result, when I am doing var_dump():
object(Geocoder\Model\AddressCollection)#605 (1) {
  ["addresses":"Geocoder\Model\AddressCollection":private]=>
  array(5) {
    [0]=>
    object(Geocoder\Model\Address)#569 (10) {
      ["coordinates":"Geocoder\Model\Address":private]=>
      object(Geocoder\Model\Coordinates)#570

[2016-12-10 19:06] ganchclub commented on #53
You need to change the namespace of the provider. Command should be:
`php artisan vendor:publish --provider="Geocoder\Laravel\Providers\GeocoderService" --tag=config`
Result then should be:
`Copied File [/vendor/toin0u/geocoder-laravel/config/geocoder.php] To [/config/geocoder.php]
Publishing complete for tag [config]!`

[2016-12-10 19:09] ganchclub commented on #53
@mikebronner
it would be nice to update the documentation.

[2017-01-11 00:51] rods opened #61 "Is there a way to use this package with Lumen 5.2?"
Is there a way to use this package with Lumen 5.2? I discovered too late that Lumen sucks a lot and...
:-(
thank's

[2017-01-11 03:06] ng111w opened #62 "Error: No provider could geocode address:"
Hi,
On installing this package unto my laravel 5.2 project with php 5.5.9, I kept getting the error below:
**No provider could geocode address:**

I did some debugging including printing out the url path, and checking it from the browser.
https://maps.googleapis.com/maps/api/geocode/json?address=se186tl&language=en%C2%AEion=uk&key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
The absolute path return expected a

[2017-01-11 03:16] ng111w commented on #62
Just to add to the above, the error is coming from the file mentioned below.
ChainNoResult in Chain.php line 56:

[2017-01-12 06:56] byhbt commented on #62
I have same issue and I think maybe the answer here, hope it help.
https://github.com/geocoder-php/GeocoderLaravel/issues/57

[2017-01-12 19:26] mikebronner commented on #62
Yea, sorry guys. Right now not 5.2 compatible. Closing for now. Please let me know if you have the same issues using 5.3.

[2017-01-12 19:26] #62 closed

[2017-01-14 12:37] ng111w commented on #62
Hi @mikebronner , thank you for your reply.
After installing laravel 5.3 and updated details as required, the error still persists.
See set-up below

"require": {
        "php": ">=5.6.4",
        "laravel/framework": "5.3.*",
        "toin0u/geocoder-laravel": "1.0.0-RC1@dev"
    },

Any help will be appreciated

[2017-01-28 02:02] dominicmomentum opened #63 "Does not work with Laravel 5.4"
Version 0.6.0

Got this exception
FatalThrowableError: Call to undefined method Illuminate\Foundation\Application::share()

in that file /vendor/toin0u/geocoder-laravel/src/GeocoderServiceProvider.php:72

We need to refactor the Provider in order to use singleton instead of share as described in the upgrade documentation for Laravel 5.4

[2017-01-28 10:57] ChrisReid commented on #63
I have fixed this. Just a couple of amends in the service provider. I'll issue a pull request now

[2017-01-29 21:28] seanhudson opened #64 "Stopped working locally"
I'm sure it's a problem on my end, but I'm having problems debugging.

I have it using either a Google Maps API Key with a fallback of Bing Maps API. It was working on my local machine, but it stopped. However, it does work in a remote staging site.

`$location = "boulder, co";`
`$address_collection = Geocoder::geocode($location)->dump('geojson');`

I'm getting the message:

`ChainNoResult in Chai

[2017-01-30 04:00] azcoppen commented on #63
+1

[2017-01-30 04:19] mikebronner commented on #63
Thanks, will look into this tomorrow, been traveling all of last week. :) Thanks for opening the issue :)

[2017-01-31 00:06] mikebronner commented on #63
Ah, ok, I see now. Version 0.6.0 is no longer supported. Please upgrade to 1.0.0-RC. I went through and installed it in L5.4 just now, and tests are still passing. Please re-open if you still have issues after updating to the RC version. Thanks :)

[2017-01-31 00:06] #63 closed

[2017-01-31 00:10] mikebronner commented on #64
Hi @seanhudson, this is a Mac issue. You will need to use Homestead (not Valet). The core of the problem is the version of OpenSSL installed on OS X by default, which is not up-to-date and won't handle https URLs correctly.

You can try installing curl via home-brew to get around this: http://stackoverflow.com/questions/39116617/os-x-10-11-6-el-capitan-sslread-return-error-9841

Let me know how it

[2017-01-31 00:10] #64 closed

[2017-01-31 00:11] mikebronner commented on #61
The latest updates to the package are only Laravel 5.3+ compatible, sorry. :(

[2017-01-31 00:11] #61 closed

[2017-01-31 00:15] mikebronner commented on #60
Hi @IrfanS99, are you using Homestead or Valet? macOS has an old version of OpenSSL installed, which causes problems with curl requests to https URLs. To get around this, you need to run the code in Homestead, or update OpenSSL on your Mac. See #64 . Let me know how you get on.

Thanks! :)

[2017-01-31 00:15] #60 closed

[2017-01-31 00:27] mikebronner commented on #53
Getting this in place today. My apologies for the delay.

[2017-01-31 00:30] #53 closed

[2017-02-06 14:04] philippejadin opened #65 "Some update documentation"
For those that used the previous version it might not be clear how it works now. Could you add this to the readme? Sorry if it's not very clear, at least it's a start.

- change your composer.json, use this : "toin0u/geocoder-laravel": "^1.0",
- edit/redo your config/geocoder.php (take the config file https://github.com/geocoder-php/GeocoderLaravel/blob/master/config/geocoder.php as inspiration
-

[2017-02-17 11:32] paguemaou opened #66 "Error with Laravel 5.4"
Hi,
I'm upgrading a L5.1 app with "toin0u/geocoder-laravel": "0.6.0"

Now, I use a fresh new Lavel 5.4.

The first composer update with "toin0u/geocoder-laravel": "^1.0", in composer.json is OK.

I also use Barryvdh ide-helper. So, I have in composer.json
[code]
If I add in app.php Geocoder\Laravel\Providers\GeocoderService::class, I have this error during the next composer update
[code]
Last poin

[2017-02-17 13:21] mikebronner commented on #66
Hi @paguemaou, the config file and available providers changed a lot from 0.6 to 1.0. Did you upgrade your configuration and providers as well? That's my initial guess that your settings are still set for the old version. See the readme for the format of the config file, and there's also a link to the available providers and adapters.

Let me know if that was the case.

Thanks!
~Mike

[2017-02-18 19:14] sahamilton commented on #14
Is there any update on this issue? I have tried fabio's suggestion but to date not results.  I have tracked and proved that the query is generating correctly (dd($query) at function geocode in GoogleMaps) so it is clearly an issue with the Curl call.  Curl is installed in my environment and the package works fine in the Laravel 4.2 version (Im finally upgrading :-( )

[2017-02-20 16:04] paguemaou commented on #66
Thanks for your reply @mikebronner.

I use a fresh Laravel 5.4 install.

I just do

1) add "toin0u/geocoder-laravel": "^1.0" in composer.json
2) composer update (OK....)
3) add Geocoder\Laravel\Providers\GeocoderService::class in app.php
4) composer update => error in Barryvdh ide-helper
[code]
Thanks for you help

Paguemaou

[2017-02-20 19:13] sahamilton opened #67 "Chain unable to geocode address - Laravel 5.4"
I started with a fresh install of Laravel (5.4.12) then added Geocoder
[code]
and tested with a route
[code]
Result is ChainNoResult
[code]

added guzzle4.0
[code]

and changed adapter to Guzzle4HttpAdapter in geocoder.php
[code]
Added
[code]
to geocoder.php

Succesfully geocoded.

[2017-02-20 21:33] mikebronner commented on #67
You should be able to geocode with any of the adapters provided in https://github.com/geocoder-php/Geocoder. I would NOT recommend using the guzzle 4 adapter but instead use the Guzzle 6 adapter specified in the config file. Try a few of the addresses in the tests and see if you can resolve those: https://github.com/geocoder-php/GeocoderLaravel/blob/master/tests/Laravel5_3/Providers/GeocoderServic

[2017-02-20 21:33] #67 closed

[2017-02-20 21:34] mikebronner commented on #66
I'm not sure on this one ... I will have to put this on hold for the moment until I can test it out.

[2017-02-20 22:41] sahamilton commented on #67
Mike

Thanks for checking and getting back to me.  However I went through each of the adapters (Curl & Guzzle6) and neither will geocode. Again absolutely straight install of Laravel 5.4.12 and only geocoder added. Note that with 5.4 it is necessary to add guzzle to the requirements as without it the Guzzle6 adapter reports ‘Class 'GuzzleHttp\Client' not found ‘.  Again from my research it is very

[2017-02-20 22:46] mikebronner commented on #67
Yea, the outdated HTTP Adapters are an upstream issue and are already being replaced in the master branch (which is why I opted not to make the move on my own, even though I could -- I might pre-emt the parent release with an update, though).

If you have the config file published, that might be an issue. You MUST include the use statements for the respective Adapters and providers there. Please e

[2017-02-24 01:43] zedentox commented on #66
My configuration :
- laravel/framework 5.4.13
- barryvdh/laravel-ide-helper 2.3.2
- willdurand/geocoder 3.3.0
- toin0u/geocoder-laravel 1.0.1

`php artisan ide-helper:generate` is OK for me.

[2017-02-24 16:25] paguemaou commented on #66
From composer info, I have the same versions as you.

I go on holidays for one week. I'll try with only these librairies.

Thanks for your help, see you next week !

[2017-02-24 16:38] paguemaou commented on #66
Yepee !
I've previously installed an old version of "toin0u/geocoder-laravel"
I also do
[code]
Later, I've done a composer update with the latest version of "toin0u/geocoder-laravel" but I haven't delete the old config/geocoder.php file before the next composer update.

This was the bug's origin !

Thanks for your help @zedentox  (maintenant, je pars dans les Pyrennées !)

[2017-02-24 18:09] zedentox commented on #66
@paguemaou Bon voyage ! 🇫🇷

@mikebronner This issue can be closed 😎

[2017-02-24 18:12] mikebronner commented on #66
Awesome! Thanks @zedentox for the helping hand. :)

[2017-02-24 18:12] #66 closed

[2017-03-13 10:30] martincarlin87 commented on #65
Just to add to the above, to use `Geocoder` rather than `Geocoder\Laravel\Facades\Geocoder`, add this to the `aliases` array in `config/app/php`:

`'Geocoder' => Geocoder\Laravel\Providers\GeocoderService::class,`

[2017-03-13 21:51] mseymour commented on #67
php 7.0.15, Laravel 5.4.15, geocoder-laravel 1.0.1. I've set the adapter to Guzzle 6, so far I haven't been able to geocode anything. Should dev-master work?

[2017-03-13 22:31] mikebronner commented on #67
@mseymour Please open a new issue if none of the troubleshooting steps in the closed issue get it working. In my past experience this is down to system requirements not being met (outdated version of OpenSSL, for example).

[2017-03-20 18:34] azcoppen opened #68 "ReflectionException: Class Chain does not exist"
### General Information
GeocoderLaravel Version: 1.0.1
Laravel Version: 7.4
PHP Version: 7.1
Operating System and Version: Ubuntu 16

### Issue Description
Can't reverse geocode because of Chain error.

### Steps to Replicate
Function calling the package:

[code]

### Stack Trace
Development.ERROR: ReflectionException: Class Chain does not exist in /srv/Demo.com/dev/vendor/toin0u/geocoder-laravel/

[2017-03-20 18:42] mikebronner commented on #68
Thanks for reporting this issue. I will take a look at this and re-run my unit tests to see what's going on.

[2017-03-20 19:07] mikebronner commented on #68
Your code is not actually performing the geocoding, only preparing it. To run the geocoding, use the `get()` method to fetch a collection, or the `all()` method to fetch an array, of results. Then iterate of the array to display the results. Your updated code should look like this:

[code]

This should now run without issue. (Please let me know. I added a unit test for reverse-geocoding and it wor

[2017-03-20 19:07] #68 closed

[2017-03-20 20:41] azcoppen commented on #68
Thank you for the prompt and detailed response! Legend!

[2017-03-20 20:43] mikebronner commented on #68
Woot, glad to hear :) Please let me know if you have any feedback for Laravel Geocoder, improvements, or unexpected behavior. Always looking to improve and make it better. :)

[2017-03-20 20:50] mikebronner opened #69 "Add lookup caching functionality."

[2017-03-20 21:28] #65 closed

[2017-03-20 21:30] mikebronner commented on #45
Closing this for now. No plans to implement unless someone can submit a PR for this, or a work-around can be documented. Haven't heard back from OP, please re-open if this is a critical issue.

[2017-03-20 21:41] mikebronner commented on #52
This is actually an issue with GeocoderPHP itself. (I pend this as an issue there: https://github.com/geocoder-php/Geocoder/issues/593.)

Looking at the code, the `Address` model does not have any address line 2 properties, so that would have to be added.

[2017-03-20 21:41] #52 closed

[2017-03-20 22:01] mikebronner commented on #65
Thanks everyone for your suggestions on the documentation. Added some upgrade tips, hopefully this helps clarify things. :)

[2017-03-27 22:15] danijelk opened #70 "bump egeloen/http-adapter version"
Hi,

  Problem 1
    - Installation request for egeloen/http-adapter (locked at 1.0.2) -> satisfiable by egeloen/http-adapter[1.0.2].
    - toin0u/geocoder-laravel 1.0.0 requires willdurand/geocoder ~3.3 -> satisfiable by willdurand/geocoder[v3.3.0].
    - toin0u/geocoder-laravel 1.0.1 requires willdurand/geocoder ~3.3 -> satisfiable by willdurand/geocoder[v3.3.0].
    - toin0u/geocoder-laravel 1.

[2017-03-28 21:50] azcoppen commented on #68
Just wanted to update this. The issue was because i was using an older version of the package, and the config file has been updated with the class namespaces. Package update didn't update config.

[2017-03-29 15:39] mikebronner commented on #68
Ah, that makes sense, since the config file is not automatically republished (and if you're not making any customizations to it, no need to publish it either). Thanks for reporting that back. Will add that as a to-do for documentation.

[2017-03-29 15:41] mikebronner commented on #70
Not at this time ... this is an issue with the geocoderphp package and should be raised there. Even if I fixed the dependency to the new package, Will's geocoderphp package would still pull in the egeloen package, thus still making it impossible for you to install.

[2017-03-29 15:41] #70 closed

[2017-03-29 15:42] mikebronner opened #72 "Update upgrade documentation to republish the config file."

[2017-04-05 22:30] azcoppen opened #74 "Unable to geocode (no provider could reverse coordinates)"
### General Information
GeocoderLaravel Version: 1.0.3
Laravel Version: 5.4
PHP Version: 7.1
Operating System and Version:
Mac OS X Yosemite

### Issue Description
Getting this exception with any geocode, or reverse geocode. Note it's not the OpenSSL issue - am running the latest version on Yosemite. Using Guzzle 6 adapter, Gmaps API key is fine.

OpenSSL support	enabled
OpenSSL Library Version	Op

[2017-04-05 22:36] mikebronner commented on #74
I will try to replicate this and report back.

[2017-04-07 20:43] mikebronner commented on #74
Hi @azcoppen, I ran your reverse query through my unit tests and it resolves without error. It must be a configuration issue. Are you getting this after upgrading from a pre-1.0 version? If so, be sure to delete your custom configuration file, and only create a new one if your settings differ from the default provided. (You don't need to publish the config file to use it.)

Try using `app('geocode

[2017-04-07 20:43] #74 closed

[2017-04-08 19:53] azcoppen commented on #74
Thanks for looking into it - am going to test on a VM. All i can think is that my PHP version is still using the old OpenSSL, as the config file is fine, and the error occurs with or without the facade.

[2017-04-11 22:07] mikebronner commented on #74
You might try renaming the config file so that it falls back to the default config and see if that works. I can only get this to run inside a VM as well, so I think that's probably what you're seeing here.

[2017-04-12 16:47] azcoppen commented on #74
10-4 - works in the VM, but not on OS X, so it has to be OpenSSL somehow (phpinfo looks fine). Incidentally, the results have changed data format, so i had to fix that as well. All OK now.

[2017-04-12 22:45] mikebronner commented on #74
Awesome! :)

[2017-04-13 16:04] mikebronner opened #75 "Monitor Merge of Localization Functionality In Parent Project"
Watching geocoder-php/geocoder#583 to see if it accommodates PR #73 .

[2017-04-14 22:32] #72 closed

[2017-04-20 18:57] enzonotario opened #77 "No provider could reverse coordinates"
### General Information
GeocoderLaravel Version: 1.0.3
Laravel Version: 5.3
PHP Version: 7.1
Operating System and Version: Ubuntu 16.04

### Issue Description
Hi! I'm using it in an AWS EC2 with LetsEncrypt and when I want to do a reverse geocoding, it shows me that error. In my local machine it works perfectly.

### Steps to Replicate
$output = app('geocoder')->reverse(-24.377224, -65.122789);

#

[2017-04-20 18:58] mikebronner commented on #77
Can you show me whats in your laravel.log file? I need the stack trace to be able to help you out.

[2017-04-20 19:13] enzonotario commented on #77
I don't found anything about this exception in my laravel.log, but I do a dd():
[code]

[2017-04-21 00:33] mikebronner commented on #77
This sounds very similar to #74 . Is this a forge-provisioned server? I'm betting you are missing some server dependencies or have outdated version of OpenSSL/Curl/Missing CAs, etc....

Please try your code in Homestead and see if it works there. If it does, its your server setup.

[2017-04-21 00:59] enzonotario commented on #77
It's not a forge-provisioned server. I install all manually.
I have:
OpenSSL 1.0.2k  26 Jan 2017
curl 7.35.0 (x86_64-pc-linux-gnu) libcurl/7.35.0 OpenSSL/1.0.1f zlib/1.2.8 libidn/1.28 librtmp/2.3

I don't think that I have missing CAs..

[2017-04-21 01:01] mikebronner commented on #77
I haven't dug into what exactly the missing link is. I would recommend seeing which packages are installed in Homestead and comparing to your AWS setup.

[2017-04-21 22:00] enzonotario commented on #77
Sorry! I just put my api key in my .env and ENABLED THE GEOCODING API (I missed it) and now it works perfectly!
Thanks so much! and sorry for my poor english and knowledge.

[2017-04-21 22:00] #77 closed

[2017-04-21 22:03] mikebronner commented on #77
Awesome, glad you were able to resolve it. :) I think localhost works because its not over HTTPS, not 100% sure of that though. Also, google might be smart enough to figure out your in test mode or something.

[2017-05-12 08:29] Alexgmin opened #78 "PHPDoc is wrong on \Geocoder\Laravel\ProviderAndDumperAggregator::get"
### Issue Description
![image](https://cloud.githubusercontent.com/assets/8340441/25989672/583f4c68-36fd-11e7-9ecf-dfd449dbd0c1.png)

Also, instead of
[code]
it should be
[code]
![image](https://cloud.githubusercontent.com/assets/8340441/25989779/c0aba012-36fd-11e7-8082-5559b43e0ac0.png)

![image](https://cloud.githubusercontent.com/assets/8340441/25989771/b8474f52-36fd-11e7-8191-8a06f6716212.png)

[2017-05-12 09:36] Nyholm commented on #78
You are correct, that is missing.

We should add `use Geocoder\Model\AddressCollection;` at the top of the file. Could you add a PR?

[2017-05-12 09:59] Alexgmin commented on #78
I'll have to setup the project at home, and also, this would be my first PR, but sure.

[2017-05-12 10:01] Nyholm commented on #78
That would be great. Im looking forward to review it.

[2017-05-12 14:00] #78 closed

[2017-05-12 14:01] mikebronner commented on #78
@Alexgmin Thanks for reporting that. Should be fixed now. Let us know if you find anything else. :)

[2017-05-12 14:10] mikebronner commented on #78
@Nyholm thanks for responding so quickly to the issue. :) (Small things like this I don't mind fixing without PRs.)

[2017-05-24 01:34] mikebronner commented on #75
PR 53 was merged. https://github.com/geocoder-php/Geocoder/pull/583
Will likely be released in geocoder 4.0 version. Keeping this open to keep tabs on it.

[2017-05-25 12:46] andreasba commented on #53
Just wanted to let you know that for me the updated command still does not do anything:

`
$ php artisan vendor:publish --provider="Geocoder\Laravel\Providers\GeocoderService" --tag=config
Publishing complete.
`
=> no file has been copied (I had to do this by hand)

[2017-05-25 14:52] mikebronner commented on #53
@andreasba I just ran the command (copy/pasted from your post) and it worked in my system. Please provide the following details:

Laravel version: (from composer.lock file)
GeocoderLaravel version: (from composer.lock file)
PHP version: (php -v from terminal)

[2017-05-25 15:32] andreasba commented on #53
Hi @mikebronner thanks for the quick reply.

Laravel version is v5.4.23
Geocoder version is 1.0.5
PHP version is PHP 5.6.15 (cli) (built: Nov  9 2015 13:03:20) (this is my dev XAMPP machine)

[2017-05-25 20:15] mikebronner commented on #53
Can you provide a complete stack trace from `/storage/logs/laravel.log` and any error output in the terminal? I can't reproduce this at this time. Can you try this in Homestead?

[2017-05-26 13:07] andreasba commented on #53
Hi @mikebronner - after rebooting my PC today, it works - I dunno why, sorry for the false alarm!

[2017-05-26 14:59] mikebronner commented on #53
@andreasba Good to hear :) thanks for the update.

[2017-05-31 16:11] sameer1202 commented on #66
hi @paguemaou @mikebronner @zedentox
I have also removed the config/geocoder.php configuration file ,still Getting the error message .
Error message when I do composer install or update I get the error
[code]
In composer.json I have added "toin0u/geocoder-laravel": "^1.0",
There is no Geocoder alias in the aliases section of the config/app.php.
have added Geocoder\Laravel\Providers\GeocoderService

[2017-05-31 16:40] sameer1202 opened #80 "Error with Laravel 5.4"
### General Information
Laravel Version: 5.4
PHP Version:  7.0.15
Operating System and Version: ubuntu 16.04

### Issue Description
[I am upgrading from laravel 5.3 to 5.4 ]
In composer.json I have added `"toin0u/geocoder-laravel": "^1.0",` .I have also removed the `config/geocoder.php` configuration file .
There is no Geocoder alias in the aliases section of the `config/app.php.`

have added `Geo

[2017-05-31 17:51] zedentox commented on #80
Somewhere in your code you are trying to use a class *Toin0u*\Geocoder\GeocoderServiceProvider which doesn't exists. Check *UPGRADING* section in README. (step 4 I think)

[2017-05-31 21:34] mikebronner commented on #80
Thanks for jumping in @zedentox ! :) @sameer1202 Please let me know if that solved the issue.

[2017-06-01 03:32] sameer1202 commented on #80
Thanks for your reply sir @zedentox @mikebronner .
yeah there was a class  Toin0u\Geocoder\GeocoderServiceProvider in my config/app.php but now I have removed that line from my code . Still same error persists .Have also tried to clear the cache but the same error is coming .

Thanks for your help !

[2017-06-01 05:27] Nyholm opened #81 "Prepare for 4.0 update of the Geocoder"
The willdurand/geocoder is about to release 4.0 in 2 months. There is quite a lot of changes but the migration should be smooth. The major changes are:

* Some changes in the interfaces for `Provider` and `Geocoder`
* Introduce a `GeocodeQuery` object
* Use of HTTPlug
* Each provider is in its own package.

The API is pretty stable and it will not be any more major changes as I see it. Im not sure

[2017-06-01 15:46] sameer1202 commented on #80
Error fixed by removing `"toin0u/geocoder-laravel": "^1.0"` and `Geocoder\Laravel\Providers\GeocoderService::class in app.php` from the code and updating composer and  reinstalling the geocoder , This fixed the above problem .

Bdw Thanks for your help! Issue can be closed now ,but as I have seen in previous issues many people have complained the same error that when they add `Geocoder\Laravel\Pro

[2017-06-01 17:12] mikebronner commented on #80
Having the wrong version of the package installed is the most common, I would say. Or not following the upgrade process as intended. You're right that it does seem to cause some confusion, but I hope that will become minimal as more people upgrade.

Glad to see you got everything working again! :)

[2017-06-01 17:12] #80 closed

[2017-06-01 17:18] mikebronner commented on #81
Thanks @Nyholm! Been looking forward to the HTTPlug one for a while. I will start a new branch in preparation over the coming weeks.

[2017-06-13 00:04] azcoppen opened #82 "No provider could reverse coordinates (Homestead/WIndows 10)"
### General Information
GeocoderLaravel Version: 1.0.5
Laravel Version: 5.4
PHP Version: 7.1
Operating System and Version: Ubuntu (Homestead) on Windows 10 (VirtualBox)

### Issue Description
Getting this error again on Homestead.

### Steps to Replicate

vagrant@homestead:~/Code/Acme$ php artisan tinker
Psy Shell v0.8.6 (PHP 7.1.3-3+deb.sury.org~xenial+1 — cli) by Justin Hileman

Geocoder\Excepti

[2017-06-13 03:49] mikebronner commented on #82
Thanks @azcoppen for reporting this, I will test first thing tomorrow.

[2017-06-14 14:27] imperiumzigna commented on #82
I'm with the same issue

![image](https://user-images.githubusercontent.com/6758195/27137456-6406db9a-50f4-11e7-8c42-c2cbffe49c54.png)

[2017-06-14 15:44] mikebronner commented on #82
Looking into it now.

[2017-06-14 15:48] mikebronner commented on #82
@azcoppen Running your command `$result = app('geocoder')->reverse(43.882587, -103.454067)->get();` I get the following result:

[code]

[2017-06-14 15:50] mikebronner commented on #82
@imperiumzigna, running your command `$result = app('geocoder')->reverse(-2.571728, -44.225438)->get();` I get:

[code]

[2017-06-14 15:51] mikebronner commented on #82
From that I conclude that the config file is probably incorrectly structured. Try removing your published config file and running it again. If it still fails, please share your `\config\geocoder.php` file here.

[2017-06-14 22:25] imperiumzigna commented on #82
Hi, I've tested your suggestions and still the same issue. Here is my config file
`use Ivory\HttpAdapter\CurlHttpAdapter;
use Ivory\HttpAdapter\Guzzle6HttpAdapter;
use Geocoder\Provider\Chain;
use Geocoder\Provider\BingMaps;
use Geocoder\Provider\FreeGeoIp;
use Geocoder\Provider\GoogleMaps;
use Geocoder\Provider\MaxMindBinary;

return [
    'providers' => [
        Chain::class => [
            Bi

[2017-06-14 23:21] imperiumzigna commented on #82
Hi again, solve here. The error was on the config file. Follow code that solved for me:

`return [
    'providers' => [
        Chain::class => [
            BingMaps::class => [
                env('BING_KEY'),
            ],
            GoogleMaps::class => [
                'en',
                'us',
                true,
                env('GOOGLE_API_KEY'),
            ],
            FreeGe

[2017-06-14 23:22] mikebronner commented on #82
Glad to hear you got it running again! 👍

[2017-06-14 23:22] mikebronner commented on #82
@azcoppen Can you confirm that you have it working again as well?

[2017-06-15 18:35] azcoppen commented on #82
@mikebronner Still have it there unfortunately, also had to change the Facade namespace.

Config file:

[code]

[2017-06-15 18:47] mikebronner commented on #82
@azcoppen can you explain more about the facade namespace? You shouldn't have to use the facade at all, you can access it though `app('geocoder')`. Can you show the code where you changed the namespace? Thanks!

[2017-06-16 00:51] azcoppen commented on #82
@mikebronner Old habits die hard! Made the change in config/app.php.

From:
[code]

to

[code]

[2017-06-16 01:38] mikebronner commented on #82
@azcoppen have you tried removing you config file entirely (temporarily) to see if it works with the default config?

[2017-06-16 20:01] azcoppen commented on #82
@mikebronner You're in the running for support of the year Mr B. Will do, and report back over the w/e.

[2017-06-16 20:02] mikebronner commented on #82
@azcoppen Haha! Thanks for your patience :) Let me know what you find out :) We'll get this working yet!

[2017-06-17 18:22] Nyholm commented on #81
I just tagged some beta versions. If nobody complains the betas will be stable versions within 4-6 weeks.

[2017-06-17 18:34] mikebronner commented on #81
@Nyholm Woot! I'll start working on that this weekend, thanks :)

[2017-06-17 20:41] mikebronner commented on #52
@ellisio Quick update: the functionality will be added in the next major release of geocoded-php, and will make its way into this package then. :)

[2017-06-18 00:55] #69 closed

[2017-06-18 01:21] mikebronner commented on #81
@Nyholm Quick question: For some reason I can't figure out how to pull in dev-master for the geocoder package. It always falls back to the latest release (3.3.0). I have tried the following in my composer.json:

[code]

Any suggestions? Thanks!

[2017-06-18 18:12] mikebronner commented on #81
@Nyholm Got this in place now .... tests are all green. Added in commit b38a86d8. Keeping this open until 4.0 goes live to make sure it passes.

[2017-06-18 19:16] Nyholm commented on #81
Cool. Good job. Im happy the update will be quite smooth for the users.

[2017-06-19 02:26] mikebronner commented on #81
Added more tests, and did some more refactoring. Code coverage now at 96%.

[2017-06-19 02:30] mikebronner commented on #75
This is confirmed to be released in Geocoder 4.0 and will be included in GeocoderLaravel 2.0.

You will need to use GeocoderQuery or ReverseQuery objects to manipulate these things (see the new Geocoder documentation in the readme for more details.)

[2017-06-19 02:30] #75 closed

[2017-06-19 16:01] ellisio commented on #52
@mikebronner Awesome, thank you for the update! This'll be helpful with a feature we're currently R&Ding. 👍

[2017-06-19 16:15] mikebronner commented on #52
Good to hear! Keep us updated on how it works. Best guess is that the update is about 3 weeks out, but you can download dev-master of this package and start using it.

[2017-06-22 23:44] mikebronner opened #85 "Packagist not updating?"
Hi @willdurand @Nyholm @toin0u,

I've been checking Packagist for the past few days to see if the updates are showing, but it seems like it is stuck on v1.1.0 -- or is that just me? Please let me know if there is anything I can do.

https://packagist.org/packages/toin0u/geocoder-laravel

[2017-06-23 06:47] willdurand commented on #85
I got emails recently related to this project. Something seems broken..

[code]

[2017-06-23 06:49] mikebronner commented on #85
Thanks @willdurand ! I will look into it first thing in the morning.

[2017-06-23 06:49] Nyholm commented on #85
We must fix the composer.json and create a new tag.

[2017-06-23 06:57] #85 closed

[2017-06-23 07:00] mikebronner commented on #85
That did it, just confirmed updated in packagist!

[2017-06-23 07:01] willdurand commented on #85
👍

[2017-06-23 16:03] mikebronner commented on #51
Added coveralls badge back to readme, now that Travis is resolving most of the geocoding service URIs in the tests. However, it is still failing an IP geocoding test (using FreeGeoIP) because of the above issue. This from the build log:

[code]

I am trying to see if it can resolve any of the other geo-ip providers.

[2017-06-23 16:20] mikebronner commented on #51
Solved by using GeoPlugin instead of FreeGeoIP -- looks like Travis doesn't have the cert chain for FreeGeoIP. Add Travis build badge back to readme.

[2017-06-23 16:20] #51 closed

[2017-06-23 16:21] mikebronner commented on #82
@azcoppen try the latest 1.1.1 version. Let me know how you are coming along.

[2017-06-23 18:43] mikebronner opened #88 "Coveralls Not Showing Source"
Hi @willdurand, would you mind re-authorizing coveralls for this repo? That way it can show the source code in the coverage analysis. Thanks! :)

This is the message Coveralls is showing:
[code]

[2017-06-24 17:18] willdurand commented on #88
How do I do that? :p

[2017-06-24 17:19] willdurand commented on #88
poke @toin0u  I guess

[2017-06-24 18:03] mikebronner commented on #88
@willdurand, i thought maybe you had set it up. Do you control the travis build for this repo? Maybe we should go ahead and migrate them over to ones that you do control?

[2017-06-25 14:45] matthewpennell opened #89 "Error handling - if address returns no results, geocode call throws error"
### General Information
GeocoderLaravel Version: ^1.0
Laravel Version: 5.4
PHP Version: 7
Operating System and Version: OSX 10.12.5

### Issue Description
When passing invalid data to the Geocoder, it throws an uncatchable error, even with debug set to false.

### Steps to Replicate
I submit an invalid string via a form. The geocode call fails and triggers the Laravel stacktrace page. Adding addit

[2017-06-25 14:46] mikebronner commented on #89
@matthewpennell  Thanks for submitting this issue. Can you provide the invalid address you are trying to geocode, so I can reproduce? Thanks!

[2017-06-25 14:57] mikebronner commented on #89
To catch this, you will have to implement it as follows:

[code]

The reason here is that the ChainNoResult does not Extend from the \Extension class. I will open an issue or PR for that in the parent repo.

Let me know if this works for you.

[2017-06-25 15:01] mikebronner commented on #89
Updated the catch parameters above to \Throwable. That should catch everything. I think that's the preferred way moving forward.

[2017-06-25 15:06] matthewpennell commented on #89
Thanks for the fast response - I'll try your solution and get back to you.

[2017-06-25 15:13] matthewpennell commented on #89
Yes, that works, thanks a lot!

[2017-06-25 15:13] #89 closed

[2017-06-25 15:19] mikebronner commented on #89
Awesome, glad its working! :) On a side note: the upcoming version 2.0 will not throw an exception, but just return an empty result.

[2017-06-25 15:33] matthewpennell commented on #89
Nice. I tried updating to 2.0 in case that fixed it, but the @dev flag started a cascade of composer dependencies of other `dev` releases so I gave up and came here instead. :)

[2017-06-25 17:21] Nyholm commented on #88
I've started to use Scrutinizer for most repos in this org. I've actually set it up to run after you push to master here. You just need to add a line to travis.yml. See https://github.com/geocoder-php/geoip2-provider/blob/master/.travis.yml#L13-L15

Btw, I've checked Coveralls now. It looks like it is enabled. I clicked "repair" and it looks good. Where do you see the error message?

[2017-06-25 17:33] mikebronner commented on #88
See here: https://coveralls.io/builds/12122868/source?filename=src%2FProviders%2FGeocoderService.php

[2017-06-25 17:44] Nyholm commented on #88
Here is the link: https://scrutinizer-ci.com/g/geocoder-php/GeocoderLaravel/

Here is the markdown :
[code]

---------

Btw, this is what I see on your link:

![print](https://user-images.githubusercontent.com/1275206/27518355-6006a8b6-59de-11e7-9111-9c97fd28ead5.png)

[2017-06-25 17:49] mikebronner commented on #88
wow, interesting, here is what I see:
![screen shot 2017-06-25 at 10 46 10 am](https://user-images.githubusercontent.com/1791050/27518381-9011a916-5993-11e7-81f4-12086c1e249a.png)

Do you see the code if you log out of coveralls?

[2017-06-25 17:52] mikebronner commented on #88
Thanks for the scrutinizer info ... badge and link added

[2017-06-25 17:59] mikebronner commented on #88
@Nyholm can you give me co-maintainer (or something to that affect) access to this repo in scrutinizer, if thats OK? I would like to address some false positives in the analysis and be able to make adjustments to build reports as they happen.

[2017-06-25 18:27] Nyholm commented on #88
Of course.

I just learned that Scrutinizer syncs with Github. Last sync 2hours ago. You membership to this organization is marked "private". See here: https://github.com/orgs/geocoder-php/people
Try making it public and you will (probably) have access.

I think it is strange that if you login with Github on Scrutinizer that you do not have access.. Also, I cant override the team settings somehow.

[2017-06-25 18:46] mikebronner commented on #88
So, it looks like it only shows the code if you authorize github. I was expecting it to show the code publicly, since this is a public repo. Odd. /shrug

I think we're all sorted now, thanks for your help @Nyholm. :)

[2017-06-25 18:46] #88 closed

[2017-06-25 18:55] schmittjoh commented on #88
@mikebronner, even with private membership, Scrutinizer should be able to sync your membership, but I think you might not have had an account on Scrutinizer yet?

Without an account, you should still be able to see a public repository, but you cannot make changes to it. Let me know if I missed anything.

[2017-06-25 19:13] mikebronner commented on #88
@schmittjoh Thanks for jumping in ... I think the trick was that I had to add the repo to my scrutinizer account (which I hadn't, I assumed that the owner would manage who has access to it from their end). After adding the repo to my Scrutinizer account, I was able to adjust the settings. Thanks! :)

[2017-06-30 08:17] mrkalmdn opened #90 "No provider could geocode address"
### General Information
GeocoderLaravel Version: 1.1
Laravel Version: 5.4.27
PHP Version: 7.0.10
Operating System and Version: Windows 7

### Issue Description
ChainNoResult
No provider could geocode address: "Los Angeles, CA".

### Steps to Replicate
Followed installation instruction
1. Install the package
[code]
2. Register the Geocoder
[code]
3. Added Google Map API in .env
4. dd in web.php
[co

[2017-06-30 17:47] mikebronner commented on #90
This is most likely a configuration issue. Also, please update your package to version 1.1.1.
I tested your code and get results back using the 1.1.1 version.

If you have a `geocoder.php` config file, please delete it and try the one that came with the package.

Are you running this in homestead? If not, try that. This error would happen on older versions of OpenSSL on the mac (when not using Hom

[2017-07-01 01:24] mrkalmdn commented on #90
Thank you for your response @mikebronner.

Followed your instruction but I'm still getting the same issue with Laragon v2.1.0. Homestead works, though. Thanks!

[2017-07-01 01:27] mikebronner commented on #90
Thanks for the update. Yea, I have never used Laragon. It's most likely that it does not have the most up-to-date OpenSSL packages installed.

[2017-07-01 01:27] #90 closed

[2017-07-01 03:28] mrkalmdn commented on #90
For those who will encounter this issue using Windows and Laragon, you need to environment variable.

[code]

[2017-07-01 04:33] mikebronner commented on #90
Awesome @mrkalmdn, thanks for following up with the fix!! :)

[2017-07-03 21:55] azcoppen commented on #82
Have tried 1.1.1 and 2.0, results are below:

[code]

[code]

[2017-07-03 21:57] mikebronner commented on #82
Can you past your composer.json here?

[2017-07-03 22:01] azcoppen commented on #82
Yep no problem. Currently installing Recaptcha, which seems to clash.

[code]

[2017-07-03 22:03] mikebronner commented on #82
What is the error message you get when you try `composer require toin0u/geocoder-laravel`?

[2017-07-03 22:13] azcoppen commented on #82
Not resolvable. Just got it to work somehow through composer update. Had to install Recaptcha first, do a remove, and then put it back into require() before updating the lot. Very strange.

[2017-07-04 00:49] mikebronner commented on #82
Sometimes the vendors directory gets out of whack. It often helps to completely delete it and do a fresh `composer update` from scratch. Sounds like you got it sorted, closing issue. :)

[2017-07-04 00:49] #82 closed

[2017-07-12 07:16] imail2pankaj opened #92 "Call to undefined function Geocoder\Laravel\cache()"
### General Information
GeocoderLaravel Version: 3.3
Laravel Version: 5.1
PHP Version: 7.0.18
Operating System and Version: ubuntu0.16.04.1

Hello @willdurand, @K-Phoen  I have installed GeocoderLaravel version "stable" and I am getting below. This error when using geocoder. I was not getting any error when I was using earlier version of Geocoder

Here is the error I am getting
`FatalThrowableErro

[2017-07-12 15:09] mikebronner commented on #92
Hi @imail2pankaj , can you provide the full geocode code snippet you are trying to run, along with the full stack trace of the error? I will try and see what’s going on.

[2017-07-13 00:27] prog-24 commented on #92
Confirmed this is happening as well in version 1. I am using Lumen so that might be a factor

[2017-07-13 00:53] mikebronner commented on #92
@prog-24 Can you provide the snippet of code you are trying to run, as well as a stack trace?

[2017-07-13 01:27] mikebronner commented on #92
I think I identified the issue. Could you guys give it another shot with version 1.1.2?

[2017-07-13 05:45] imail2pankaj commented on #92
[code]

[2017-07-13 14:12] mikebronner commented on #92
Please let me know how version 1.1.2 works for you.

[2017-07-13 15:11] #81 closed

[2017-07-13 15:13] mikebronner opened #93 "Geocoder 4.0 Release Prep Tasks"
- [x] Update readme with detailed instructions for changes in 4.0.
- [x] Update config with minimum setup, and provide examples in documentation instead, in order to reduce package dependencies.
- [x] Update composer.json with appropriate versions of dependent packages.
- [x] Update composer.json with appropriate minimum-stability.

[2017-07-13 18:38] prog-24 commented on #92
I couldn't download version 1.1.2 but the latest version I have: 1.x-dev a322da3, the issue seems to be fixed

Here is the composer definition: "toin0u/geocoder-laravel": "^1.2"

[2017-07-13 18:42] mikebronner commented on #92
@prog-24 Thanks for the feedback. What error were you getting when you tried to install version 1.1.2? The commit you reference above is correct. Packagist does list 1.1.2 as available, so it should work. Try `composer clear-cache` then `composer update` to download "toin0u/geocoder-laravel": "1.*"

[2017-07-13 19:03] prog-24 commented on #92
I didnt receive any, I was just given the dev version. The composer definition fixed it. Thanks

[2017-07-13 19:53] mikebronner commented on #92
Awesome! Thanks for helping out troubleshooting and reporting this issue. Closing now, as it seems fixed.

[2017-07-13 19:53] #92 closed

[2017-08-03 17:21] Nyholm commented on #93
As you probably noticed. I released version 4.0.0 a few days ago.

[2017-08-03 19:28] mikebronner commented on #93
@Nyholm Thanks! Will get it out this weekend. Been swamped over the last two weeks. :)

[2017-08-03 19:30] Nyholm commented on #93
No rush. I just wanted you to know.

//Tobias Nyholm

Skickat på språng

[2017-08-03 21:36] foziazahoor opened #94 "Class geocoder does not exist"
Getting "Class geocoder does not exist"

use Geocoder\Laravel\Facades\Geocoder;
app('geocoder')->geocode('Los Angeles, CA')->get();

toin0u/geocoder-laravel 1.1.2   Geocoder Service Provider for Laravel
Added Geocoder\Laravel\Providers\GeocoderService::class, in app.php in providers array
Laravel Version : 5.4

![error](https://user-images.githubusercontent.com/10061924/28945165-ce458f82-78be-11e7

[2017-08-03 22:12] mikebronner commented on #94
Remove this line:
`use Geocoder\Laravel\Facades\Geocoder;`

Can you copy/paste the stacktrace from your laravel log file as well, please?

[2017-08-03 22:22] foziazahoor commented on #94
[2017-08-03 22:18:33] local.ERROR: exception 'ReflectionException' with message 'Class geocoder does not exist' in /var/www/html/addressbook/vendor/laravel/framework/src/Illuminate/Container/Container.php:729
Stack trace:
#0 /var/www/html/addressbook/vendor/laravel/framework/src/Illuminate/Container/Container.php(729): ReflectionClass->__construct('geocoder')
#1 /var/www/html/addressbook/vendor/la

[2017-08-03 22:35] mikebronner commented on #94
Did you upgrade from a previous version? Be sure to remove the alias you may have registered in you `\config\app.php` file.

[2017-08-03 22:39] foziazahoor commented on #94
No! I didn't upgrade... i've installed it few hours ago... there is only one entry in config/app.php in providers array:
`Geocoder\Laravel\Providers\GeocoderService::class`
http://i.prntscr.com/wyvVcbqrRTusvbQv64gZlg.png

[2017-08-03 23:06] mikebronner commented on #93
@Nyholm I am unable to get any of the IP geocoders to work with the release version. Any thoughts on what might cause this?

[2017-08-03 23:11] foziazahoor commented on #94
I've completely removed `toin0u` from vendors directory then run `composer update` then i get following output:
[code]

[2017-08-03 23:12] mikebronner commented on #94
That's expected output. Is it working now?

[2017-08-03 23:13] foziazahoor commented on #94
No! same `Class geocoder does not exist` error

[2017-08-03 23:14] mikebronner commented on #94
I just added a note to my previous response: you need PHP 7.0 or better.

[2017-08-03 23:16] mikebronner commented on #94
Try removing the geocoder config file, if you published it.

[2017-08-03 23:49] #93 closed

[2017-08-03 23:55] mikebronner commented on #93
Released as version 4.0.0 to maintain major version parity with the parent package.

[2017-08-04 00:19] foziazahoor commented on #94
I've tried on windows 10... with php 7.0.9 ... while running composer:
`require toin0u/geocoder-laravel `
I did not get this warning:
`Package egeloen/http-adapter is abandoned, you should avoid using it. Use php-http/httplug instead.`
and get geocoder-laravel (1.1.2) downloaded 100%

But on ubuntu i get following error:
![screenshot_1](https://user-images.githubusercontent.com/10061924/28949127-1

[2017-08-04 04:39] Nyholm commented on #93
Wohoo!

[2017-08-06 15:18] mikebronner commented on #94
Hi @foziazahoor ... have you been able to solve this? This is most likely a configuration issue on your end, as we have not received any other reports like this, and I am unable to replicate it.

[2017-08-07 16:42] foziazahoor commented on #94
Hi, yup there is something wrong at my end... because it is working fine on my windows on php 7.0.9... i've upgraded to php 7.1 on my ubuntu as well... but still not working...

[2017-08-07 17:03] mikebronner commented on #94
Bugger ... maybe start a new project and try it there? You can always run the unit tests to see if they work. They use their own configuration. If you're running on Ubuntu 14.x it might be an OpenSSL security issue, preventing the HTTPS requests from completing. Push your project to a production server on Ubuntu 16 (I use Laravel Forge), and it might work there. I've seen the old versions (prior t

[2017-08-07 17:03] #94 closed

[2017-08-07 19:05] foziazahoor opened #95 "Composer throwing error with Laravel 5.4"
### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.4
PHP Version: PHP 7.1.8-1+ubuntu14.04.1+deb.sury.org+1 (cli)
Operating System and Version: ubuntu 14.04 LTS

Composer throwing error:

$ composer require toin0u/geocoder-laravel
Using version ^4.0 for toin0u/geocoder-laravel
./composer.json has been updated
Loading composer repositories with package information
Updating depe

[2017-08-07 19:18] Nyholm commented on #95
Try installing guzzlehttp/psr before

//Tobias Nyholm

[2017-08-07 19:22] mikebronner commented on #95
@foziazahoor Looking into this now, trying to reproduce. Will check back in shortly with an update

[2017-08-07 19:43] mikebronner commented on #95
@Nyholm It appears to be the following requirement in common-http:
`"psr/http-message-implementation": "^1.0"`. That package is not resolvable by composer. Any thoughts?

[2017-08-07 20:06] mikebronner commented on #95
@foziazahoor Please give 4.0.1 a shot. I added the missing dependency. Let me know if it works.

Thanks for reporting this! :)

[2017-08-07 20:13] Nyholm commented on #95
Guzzle's psr package has no conflict issues. It is only their http client.

Yeah, it's quite a few packages with similar names. I'll try to clear it out:

Psr/message: interfaces for http message
Psr/http-message-implementation: virtual package that require you to install any psr implementation (example guzzlehttp/psr7)
Php-http/message: includes message factories to create requests and responses.

[2017-08-07 20:14] mikebronner commented on #95
Awesome, thanks for clearing that up for me.

[2017-08-07 21:16] foziazahoor commented on #95
@Nyholm  & @mikebronner  thank you so much!

after installing guzzlehttp/psr it is working fine!

[2017-08-07 21:43] mikebronner commented on #95
Awesome, great to hear it! :)

[2017-08-07 21:43] #95 closed

[2017-08-15 23:04] foziazahoor opened #96 "How to access response object? like i need to get locationType form returned results"
How to access response object? like i need to get locationType form returned results

[2017-08-15 23:29] foziazahoor commented on #96
I've got the answer... i can access using this code:
`$geocoder->first()->getLocationType()`

[2017-08-15 23:29] #96 closed

[2017-08-23 18:35] foziazahoor opened #97 "How to get State from response?"
How to get state from response?

[2017-08-23 19:36] foziazahoor opened #98 "How to get Admin Lelvel Code from response?"
How to get Admin Lelvel Code from response?

[code]

returning object of arrays... I want to get first array code

[2017-08-24 13:42] mikebronner commented on #97
I have added some tests to illustrate how to do this. For future reference, these types of questions are best asked in the parent project, as GeocoderLaravel is a wrapper for it, and doesn't actually alter the internal functionality of the geocoding process.

https://github.com/geocoder-php/GeocoderLaravel/blob/7ab7d2c21bdb68af13baae96fced333adaa11ecb/tests/Laravel5_3/Providers/GeocoderServiceTest

[2017-08-24 13:42] #97 closed

[2017-08-24 13:44] mikebronner commented on #98
See the related issue referenced above.

[2017-08-24 13:44] #98 closed

[2017-08-24 19:13] foziazahoor commented on #97
Thank you so much @mikebronner

[2017-09-02 16:02] a-komarev opened #99 "Broken getProvider method"
It's trying to access to private method:

https://github.com/geocoder-php/GeocoderLaravel/blob/b424b36bd6350408fa9609dd0fbbc2d7118c5654/src/ProviderAndDumperAggregator.php#L181-L184

https://github.com/geocoder-php/Geocoder/blob/69167527c25779e604791f5eef4f3f9a96b6e9dc/src/Common/ProviderAggregator.php#L166-L192

[2017-09-02 17:33] mikebronner commented on #99
Why is this useless? Please provide more detail as to what the problem is, what you are trying to do, and what you think the solution would be.

[2017-09-02 20:44] a-komarev commented on #99
Because you cannot call private method `getProvider` outside of the class, there will be an exception.

[2017-09-02 21:08] mikebronner commented on #99
There is no problem that I have seen. I have unit tests for all these methods. Please provide a complete stack trace, package version, PHP version, Laravel version, and providers and aggregators you are using.

[2017-09-02 21:17] a-komarev commented on #99
[code]

Code sample:
[code]

Any version of PHP will throw an exception. because you cannot call private method outside of the class!

[2017-09-02 23:05] mikebronner commented on #99
OK, thanks. I see it now. Use `->getProviders()`. Investigating if it needs to be removed or fixed.

[2017-09-02 23:30] a-komarev commented on #99
Yep. You still can get provider from Address instance:

[code]

[2017-09-02 23:38] mikebronner commented on #99
I inspected how the parent package works, and it basically just returns the first provider from all available ones. Posting a fix today, but will continue looking into a way to get the provider used for the current result. :)

[2017-09-02 23:56] mikebronner commented on #99
Was looking more into this and thinking about it. Providing it at a higher level actually provides very little, if any value, as the each result could be provided by a different provider, so you must inspect at the result level, then if no results, look at what providers were loaded:

[code]
or something similar.

[2017-09-02 23:57] mikebronner commented on #99
Better to leave this to the user to implement, as this will probably rarely be used.

[2017-09-02 23:58] a-komarev commented on #99
Is there a possibility to get collection of results from different providers? I thought that providers will be called one by one until first one wouldn't return the success result.

[2017-09-02 23:59] mikebronner commented on #99
Sure, that would involve iterating over each result and aggregating the used providers, just the same. Will look into if that's easy to implement.

[2017-09-03 00:01] a-komarev commented on #99
If there could be collection of results from different providers thats make sense then. There is no need to have it on the top level. I thought collection must contains results from one provider only.

[2017-09-03 00:02] mikebronner commented on #99
oh, no, they are mixed, you get only one collection back

[2017-09-03 00:30] mikebronner commented on #99
This is now "fixed" in 4.0.2 and marked as deprecated. Thanks for working through this with me.

[2017-09-03 00:30] #99 closed

[2017-09-03 00:31] a-komarev commented on #99
You are welcome! Thank you for package support and the quick fix!

[2017-09-11 16:26] MajorasJack opened #100 "Restrict/Force prioritise to UK/Ireland"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.4.36
PHP Version: 7.1
Operating System and Version: Ubuntu 16.04

### Issue Description
Is there any way to restrict the GeoCoder to only search in, say, England and Ireland.

### Steps to Replicate
Added to config/geocoder.php
[code]

Search 'York', returned Collection is:
[code]
Where the desired/expected result would be Yor

[2017-09-11 16:33] mikebronner commented on #100
You will need to consult the Google Maps docs, as well as the Geocoder plugin docs to see if this can be done. This package is more or less a wrapper on that package to tie it in closely to Laravel, and does not affect that functionality.

[2017-09-11 16:33] #100 closed

[2017-09-23 03:23] stefensuhat opened #101 "Result always return empty object"
### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.5.11
PHP Version: 7.2
Operating System and Version: Windows 10

### Description
I have this simple code to try out this package:

`return app('geocoder')->geocode('Los Angeles, CA')->get();`

But everytime it always return me
[code]

this is my geocoder.php:
[code]

All GOOGLE_MAPS_API_KEY already setup. If I run `dd(app('geo

[2017-09-23 03:54] mikebronner commented on #101
Can you paste the method where you are returning the geo coded results? I wonder if the return type is force-typecasting the results? Are you using a return type there?

[2017-09-23 03:58] stefensuhat commented on #101
@mikebronner no. my code only `return app('geocoder')->geocode('Los Angeles, CA')->get();` I just want to get the collection result.

I've tried changed the `->get()` to `->first()` it returns me
`Call to undefined method Geocoder\Laravel\ProviderAndDumperAggregator::first()`

[2017-09-23 04:46] mikebronner commented on #101
Please paste the entire method you have your code in.

There is no `first()1st method, you have to do first on the result:
`app('geocoder')-.geocode('...')->get()->first();`

[2017-09-23 04:54] stefensuhat commented on #101
@mikebronner only this method i have `return app('geocoder')->geocode('Los Angeles, CA')->get();`

for `first()` method i've just tried to see if it resolve the issue.

if I dd(app('geocoder')->geocode('Los Angeles, CA')->get()) this is the result:

[code]

[2017-09-23 16:34] mikebronner commented on #101
I am unable to replicate the issue. Unit you can provide me your entire code block, there is not much I can do to help. As previously requested, please provide the entire method that contains your code `return app('geocoder')->geocode('Los Angeles, CA')->get();`. Please review the documentation https://github.com/geocoder-php/Geocoder to see how GeoCoder should be used.

To inspect your results, y

[2017-09-23 16:34] #101 closed

[2017-09-24 06:42] stefensuhat commented on #101
@mikebronner what code block do you need? Like I said before, I just tried this package to see if its working or not. and my code only this:

[code]

the return result is:
[code]

I've tried to put `->get()->toArray();` same result.

[2017-09-24 14:52] mikebronner commented on #101
A route returns a view or html. It will not render objects. Using `dd()` is the correct way to look at the output.

[2017-09-24 14:57] stefensuhat commented on #101
@mikebronner but if you the return statement like what I did, it suppose to return an json object (that's why I cant receive `[{},{}]`.

I've done this so many times when trying an query or something  else to see if its working or not.

And fyi I've tried to call it via controller with same exact code still return same object.

[2017-09-24 15:03] mikebronner commented on #101
The objects in the collection aren't Laravel objects and won't automatically render to JSON. they are normal PHP objects wrapped in a collection.

[2017-09-26 22:30] JulesPrimo opened #102 "Allow multiple times the same provider in config file."
Ayo,

IDK if issues can be used here for enhancement proposals nor if it php geocoder allows to chain multiple times the same provider (anyway, fairly new into this but didn't read anything that made me think it won't be possible). I use two OSM servers. For now it's one of the two that's used randomly on each thread but the point is not really loadbalancing, it's more about prevention in case of

[2017-09-26 23:04] mikebronner commented on #102
I think this is something that would need to be explored at the parent package level. In theory you should be able to do this already in the chain provider, as long as you manually configure your geocoding servers within the chain provider to differntiate between them there. If the providers don't provide sufficient configuration optinos, it would be a provider limitation:
- https://github.com/geo

[2017-09-26 23:04] #102 closed

[2017-10-11 00:28] AlejandroMendez opened #103 "Only works whit IP's address"
### General Information
GeocoderLaravel Version:
Laravel Version: 5.4
PHP Version: 7.0
Operating System and Version: Elementary Loki

### Issue Description
I tried to run the code that you put as example `app('geocoder')->geocode('Los Angeles, CA')->get();`
but is not working, the only thing that i noticed that works is when i put a ip address instead of the address "Los Angeles, CA", even when i

[2017-10-12 03:48] mikebronner commented on #103
Let me get back to you on this ... I am currently traveling and away from my desk computer for the next 2 weeks, but hopefully I can respond with an answer sooner than that.

[2017-10-12 16:28] mikebronner commented on #103
I have tested your examples and they work in the unit tests. My best guess at this point is that there is a configuration issue with your system (perhaps it is missing CA chains to resolve the provider URLs securely, or there is a problem with OpenSSL or CURL on your system).

Unfortunately without an error log I cannot help. At this time my recommendation is to try your code on Ubuntu 16.04 and s

[2017-10-12 16:28] #103 closed

[2017-10-22 12:37] StanBarrows opened #104 "Receiving an Empty Collection"
### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.5.*
PHP Version:>=7.0.0
Operating System and Version:  Mac with Laravel Valet

### Issue Description
I always receiving an Empty Collection.

`Collection {#363 ▼
  #items: []
}`

### Steps to Replicate
use Geocoder\Laravel\Facades\Geocoder;

$result = Geocoder::geocode('Los Angeles, CA')->get();

 dd($result);

Google Place A

[2017-10-22 14:03] mikebronner commented on #104
What version of Mac are you on?

[2017-10-22 14:09] StanBarrows commented on #104
hi Mike, I’m on Sierra and the newest Version of  Laravel Valet. I’m try the code on my webserver later this day.

[2017-10-22 14:56] mikebronner commented on #104
Yea, Sierra has/had? a problem with OpenSSL, so it didn't complete the request. If you run it in Homestead it should work (and of course on your server as well).

[2017-10-22 16:54] StanBarrows commented on #104
@mikebronner

hey, mike. I tried the same on my web server. But unfortunately with the same results. Just an empty collection.

[Empty Colleciton](http://prntscr.com/h0kkyu)

GeoCode Method - [Image Code](http://prntscr.com/h0kl7v)

`Geocoder::geocode('Los Angeles, CA')->get();`

Same results with the reverse method.
` $result = Geocoder::reverse(43.882587,-103.454067)->get();`

Cheers, Stan

[2017-10-22 16:57] mikebronner commented on #104
What is your server OS and version?

[2017-10-22 16:58] StanBarrows commented on #104
@mikebronner - Its an Ubuntu 16.04.1 LTS

[2017-10-22 17:07] StanBarrows commented on #104
@mikebronner Maybe i'm missing out something else, because when i remove the API KEY in the env file i'm getting the same result.

What I'm doing atm:

1. Pull in the Composer package
2. Check the ServiceProvider and Facade in the config app.php File
3. Provide an Google Place API Key in the env file.
4. Clear Caches and composer dump-autoloads
5. Run above metioned the code

[2017-10-22 17:10] mikebronner commented on #104
Did you follow step #5 in the 0.x to 1.0 upgrade notes? Try using `app('geocoder')` instead of the facade.

[2017-10-22 17:14] StanBarrows commented on #104
Hi Mike, yes I'm not using a previous version of your package but also tried to run it directly with the provided command:

`app('geocoder')->geocode('Los Angeles, CA')->get();`

Unfortunately the same result.

[2017-10-22 17:16] StanBarrows commented on #104
@mikebronner

`app('geocoder')->geocode('8.8.8.8')->get();`This command worked.

`Collection {#362 ▼
  #items: array:1 [▼
    0 => Address {#363 ▼
      -coordinates: Coordinates {#364 ▼
        -latitude: 37.386
        -longitude: -122.0838
      }
      -bounds: null
      -streetNumber: null
      -streetName: null
      -subLocality: null
      -locality: "Mountain View"
      -postalCode: nu

[2017-10-22 17:18] mikebronner commented on #104
Have you tried them all on your server? The others probably won't work on Sierra, like I mentioned earlier.

[2017-10-22 17:24] StanBarrows commented on #104
Unfortunately yes. This following comand is the only i get working.

`app('geocoder')->geocode('8.8.8.8')->get();`

[2017-10-22 17:30] StanBarrows commented on #104
@mikebronner
I just saw an closed ticket with someone else having the same problem.

Is there a way I can provide you some log files or access to the server or application? I try to dig into the package a little deeper when i'm at home later to check the package-code by myself as well.

The only thing i'm not getting is why i get an empty collection even if i provide no API_Key. So maybe there is

[2017-10-22 17:35] mikebronner commented on #104
Did you remove the alias and provider entries from your `config/app.php` file? The package is self-registering. Other than that, I have no idea what's going on with your setup. I am unable to reproduce the issue, and suspect that it has something to do with your specific setup.

An empty collection is returned when a result cannot be found, for whatever reason. Please empty your `storage/logs/lara

[2017-10-22 18:51] StanBarrows commented on #104
@mikebronner

What line of code are you exactly running in Tinker? At the moment i get an 'geocoder' does not exist or an 'not found ine vil()'code Exception.

[2017-10-22 18:53] StanBarrows commented on #104
@mikebronner

The UnitTests all passing locally and on the Ubuntu Server as well.

Cheers, Stan

[2017-10-22 18:57] StanBarrows commented on #104
I was starting running your tests inside my application:

[code]

With the same results: Empty collection.

Cheers, Stan

[2017-10-22 19:14] StanBarrows commented on #104
I replaced my API:Key in your Test-Package to make sure the my key is correct. That worked fine, even with an broken key i got the appropriate error response.

[2017-10-22 19:25] mikebronner commented on #104
@StanBarrows you didn't answer if you made sure that you weren't manually registering the provider and alias? I can't really help with configuration issues without having a stacktrace or other information.

My recommendation at this point is to read the README in detail and follow it EXACTLY on a new project, and see if it works there. If it does, see what you did differently, or perhaps what migh

[2017-10-22 19:27] StanBarrows commented on #104
@mikebronner Sorry for that, I re-arranged my comments and forgot to past it back in. Yes, I made sure everything was setup from scratch and the Providers and Facades were removed. At last step i can give it a shot on a completely new project.

Cheers, Stan

[2017-10-22 19:34] StanBarrows commented on #104
@mikebronner

After a restart and **clearing ALL possible caches** it worked! Thanks for your help and patience. Glad i can user your awesome work now!

I think it's maybe worth to mention somewhere in the documentation **again** to clear all caches after every change in the query.

Cheers Stan

[2017-10-22 19:36] mikebronner commented on #104
Good to hear! Yea, I will update the documentation and also create another issue to look into the caching mechanism to make sure that the cache keys are unique.

[2017-10-22 19:36] #104 closed

[2017-10-22 19:37] StanBarrows commented on #104
Locking back,  I'm sure it was a caching problem and I fixed the query maybe after your first post 👍

[2017-10-22 19:39] mikebronner opened #105 "Verify Cache Key Is Unique"

[2017-10-22 19:48] mikebronner commented on #105
Confirmed: cache key is unique.

[2017-10-22 19:48] #105 closed

[2017-10-27 01:25] ftrudeau opened #106 "Empty collection is cached"
### General Information
GeocoderLaravel Version: 4.0.2
Laravel Version: 5.5.19
PHP Version: PHP 7.1.9-1+ubuntu16.04.1+deb.sury.org+1
Operating System and Version: Ubuntu 16.04.3 LTS

### Issue Description
Empty collection area cached.

### Steps to Replicate
We are using an API key that is included in other of our projects, and were caped to 2,500 request per day. It seams that after this, the API

[2017-10-27 02:45] mikebronner commented on #106
@ftrudeau Thanks for the report. The returning an error bit would have to be addressed by the underlying library. However, you are right in that an empty result should not be cached. I will update that. Thanks for bringing that to my attention! :)

[2017-10-27 10:31] michael-vostrikov opened #107 "Default cache duration"
### General Information
GeocoderLaravel Version: 4.0.2
Laravel Version: 5.4.28
PHP Version: PHP 7.1.1 (ZTS MSVC14 (Visual C++ 2015) x86)

### Issue Description
Default value for 999999999 for `cache-duration` causes that results are not cached with 32-bit PHP.
This happens because Laravel has the check `(int) ($duration * 60) > 0 ? $duration : null` in the method `Illuminate\Cache\Repository::getM

[2017-10-27 11:54] mikebronner commented on #107
Thanks @michael-vostrikov , excellent catch! I will get this fixed ASAP.

[2017-10-27 21:27] #107 closed

[2017-10-27 21:27] mikebronner commented on #106
Fixed in v4.0.3

[2017-10-27 21:27] #106 closed

[2017-11-10 19:24] gizburdt opened #108 "Facade"
Hi,

Is there a reason there is no Facade available?

Love the package! :)

[2017-11-10 19:26] gizburdt commented on #108
Sorry, it's late. Didn't see it

[2017-11-10 19:26] #108 closed

[2017-12-05 21:48] mikebronner opened #110 "Language configuration as an environment variable"
https://github.com/lorranpego/GeocoderLaravel/commit/30e0867428c076fd38d78619dd6121f5281c7008

[2017-12-06 04:26] mikehins commented on #104
Be sure that you use the right type of key

Screenshot from the google api console :

![image](https://user-images.githubusercontent.com/1184036/33644548-6ea8446e-da13-11e7-8a77-e0895415e2fe.png)

[2017-12-06 17:18] mikebronner commented on #104
Thanks for mentioning that @mikehins :)

[2017-12-07 08:54] Norgul opened #111 "Getting empty result set"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.5
PHP Version: 7.0.0.
Operating System and Version: MacOS High Sierra

### Issue Description

I am getting an empty array no matter what I do with the package. I have installed it through Composer and added to `app.php`

    Geocoder\Laravel\Providers\GeocoderService::class,

Published the config, which is located in `geocoder

[2017-12-07 14:35] mikebronner commented on #111
Hi @Norgul, For Laravel 5.5 it is important NOT to register the provider manually. That might be causing the issue. Please remove the provider from `config/app.php` and try again and let me know how that goes.

Also, try using the default config first, before publishing the config. Go ahead and delete the published config file and try again.

Let me know how those go, and we'll go from there.

[2017-12-07 19:13] Norgul commented on #111
I thought only alias was automatically registered. Anyway, I removed the provider and ran `composer dump-autoload`. Also deleted the config file. Same thing happens

[2017-12-07 19:23] mikebronner commented on #111
OK, lets try running the unit tests next. SSH into Laravel Homestead, and go to your project folder. Then type the following:
[code]

Please run the tests a few times if you get errors, as some of the services block access temporarily from local dev environments. If you get consistent errors, please paste them here.

[2017-12-07 20:19] mikebronner commented on #111
Also, please make sure to clear you cache and try again.
[code]

[2017-12-07 20:50] Norgul commented on #111
I think that Mockery failed composer installation for some reason, and when I repeat the process it says there is nothing to install or update.

When I ran the tests, every test failed, but I don't see how it should pass if Mockery isn't installed.

The "readable" errors I could see were something like:

[code]

[code]

[code]

[2017-12-07 21:03] Norgul commented on #111
I tried deleting the vendor file and doing `composer install` again after clearing composer cache, and now even more failed packages

<img width="883" alt="screenshot at dec 07 22-00-31" src="https://user-images.githubusercontent.com/11718157/33738642-2983b62e-db9a-11e7-9d99-582dbd9e3a5f.png">

[2017-12-07 21:06] mikebronner commented on #111
It looks like you might have some internet connectivity issues, or perhaps ISP issues, which might be causing your lookups to fail. At this point I don't see anything that points to the package causing the problem.

[2017-12-07 21:08] Norgul commented on #111
Oh, actually now I see that below that it says Downloading 100%...so it is downloading it after all.

[2017-12-07 21:09] Norgul commented on #111
I ran the tests again, this is the first one on the list

[code]

[2017-12-08 07:37] Norgul commented on #111
Also if I try to do this:

`return \Geocoder::geocode('Los Angeles, CA')->all();`

I get the error response that class Geocoder is not found? How is that possible if it registers it automatically?

[2017-12-08 08:01] Norgul commented on #111
I also tried diving into the code and dumping `$this->aggregator->getProviders()` and I am only getting back

[code]

Is that the problem? Why isn't GoogleMaps registered?

[2017-12-08 09:20] Norgul commented on #111
Is Google maps API key mandatory? I suppose it is, I tried with JS API key, and embed API key, and with no key at all. Same result

[2017-12-08 14:02] mikebronner commented on #111
Sorry @Norgul at this point it looks more like something with your project, implementation, configuration, or development environment. :(
Please try an a fresh Laravel project and make sure GeocoderLaravel is up-to-date.

[2017-12-09 19:05] Norgul commented on #111
I tried the fresh installation also, and I get the same result.

Could you confirm two things:
1. Geocoder works within vagrant virtual box?
2. Geocoder needs Google maps API key?  (if yes, which one? Javascript one?)

[2017-12-09 19:46] mikebronner commented on #111
1.  It works in Laravel Homestead -- I cannot guarantee it works in any other flavor of vagrant box.
2. Yes, I believe it's the javascript one. Please consult the documentation for the parent project as to the exact requirements: https://github.com/geocoder-php/Geocoder.

[2017-12-10 18:05] Norgul commented on #111
I tried using Google Geocoding API key instead of Google Maps one (since that says under original repository, tests section) but still nothing.

Installing fresh Laravel app even on another machine (Win 10), even with new homestead, returns empty set. Clearing all cache didn't help either. Running Chrome in incognito didn't help.

One thing I noticed in the documentation was saying to set HTTPS to

[2017-12-10 18:41] Norgul commented on #111
Nope, it's a business private app, but I can put the test repo up...even though I'm not sure what may be the issue or what may be different as I am doing things this way:

1. laravel new some_project
2. installing package through composer
3. provisioning vagrant, clearing cache
4. adding ENV google API key
5. test
6. fail

[2017-12-10 19:21] mikebronner commented on #111
OK, post up a test project repo, and I will try to replicate the problem. If it works on my end, it is an environmental issue in your dev environment. If its a code issue I should be able to see it.

[2017-12-10 20:40] Norgul commented on #111
[Repo](https://github.com/Norgul/test)

There, you can check it out. Thanks

[2017-12-11 12:16] IceDann commented on #111
What does Google maps return on the URL this package tries to address?
Had the same issue what you describe and came to the conclusion that Google Maps refused to send me the results.

[2017-12-11 12:30] Norgul commented on #111
You mean this?

    const GEOCODE_ENDPOINT_URL_SSL = 'https://maps.googleapis.com/maps/api/geocode/json?address=%s';

When I replace the address and paste this to browser I get the results back.

[2017-12-12 18:15] Norgul commented on #111
I think you should change the documentation, and on top of that maybe even the code as it is somewhat unclear now.

First, Google API key is not mandatory.

After I did `dd(app('geocoder')->geocode('5.43.168.58')->get())` I am infact getting the results back. But saying that it is working as a Laravel collection is I think not true as once again, if I don't die and dump, I see nothing.

Where I'd

[2017-12-12 18:15] #111 closed

[2017-12-12 18:18] mikebronner commented on #111
@Norgul the result you get is a true Laravel Collection consisting of results. You need to operate on each individually as you would otherwise if it weren't a laravel collection. But because it is a laravel collection, you can manipulate it with all the accustomed Collection methods.

Glad to see you have it working.

[2017-12-12 18:50] Norgul commented on #111
I'm just referring to what the package had for Laravel 4.2 version. It was like this

    Geocoder::geocode('0.0.0.0')->getCity()

Seems like a much cleaner solution in my opinion

[2017-12-12 18:52] mikebronner commented on #111
It has since been completely overhauled. If you want a more bare-bones implementation, you might consider just pulling in the parent package instead of this one.

[2017-12-12 19:00] Norgul commented on #111
I won't get in the reasons of overhaul nor how you meant the package the function. I would just for the sake of users like myself recommend for a bit more details in the documentation about how to actually get the data :)

[2017-12-20 08:52] Khadreal opened #113 "How to access response object?"
I want to access the subLocality data.
The response error I get is "Cannot access private property "

[2017-12-20 14:46] mikebronner commented on #113
You can read up on all the methods here in the Usage section about half-way down the page: http://geocoder-php.org/Geocoder/
I think you are looking for the `->getSubLocality()` method. :)

[2017-12-20 14:46] #113 closed

[2017-12-27 21:11] mikebronner commented on #110
@lorranpego Incorporated your use-case. Normally you would not have to fork the project and replace the default configuration file, instead you would publish the default configuration file and make the changes there. :)

[2017-12-27 21:11] #110 closed

[2017-12-28 14:22] pxpm opened #114 "Empty results after update."
### General Information
GeocoderLaravel Version: 4.*
Laravel Version: 5.4.*
PHP Version: 7.0
Operating System and Version: linux kernel: 2.6.32-673.26.1.lve1.4.30.el6.x86_64

### Issue Description
I was using 1.0 for this package, but i found sometimes, for the same coordinates, i was getting errors that the provider and aggregator could not reverse the coordinates i entered. Then i realized that

[2017-12-28 16:08] pxpm commented on #114
I'm going to close this issue as it is resolved now. nothing changed, nothing configured .. i was about to go back to v1.0. and BAM. simply works.

5 hours of debugging and re-setting api keys, even subscribed to google to raise my api limits ... damn i'm feeling frustrated but well... at least it works.

[2017-12-28 16:08] #114 closed

[2017-12-28 21:12] mikebronner commented on #114
Glad you are back on happy street! :)

[2018-01-11 18:31] g5400658 opened #115 "How to use Nominatim to get bounds of a city?"
I'm trying to get the boundary coordinates of a city. For example, I want to get the Southwest and Northeast coordinates like so:

https://i.imgur.com/6Qn7wPn.png

I found that if I go to the URL below, it returns a `boundingbox` property, with the coordinates I'm looking for:

https://nominatim.openstreetmap.org/search?q=mississauga,on&format=json

How can I use this library to fetch the boundary

[2018-01-11 21:38] mikebronner commented on #115
Are you getting results with other providers? Also, depending on your development environment, there may be an issue with OpenSSL not being updated.

Have you referenced the documentation: https://github.com/geocoder-php/Geocoder#providers

https://github.com/geocoder-php/Geocoder/search?utf8=✓&q=getbounds&type=

you should be able to use `->getBounds()` to get the bounds off a single result:
[cod

[2018-01-11 22:06] g5400658 commented on #115
Hi,

Yes, I'm getting results if I use Google Maps API.

Is my config correct? Or should the values be different?

[2018-01-11 23:32] mikebronner commented on #115
I honestly have no idea ... I would open an issue here https://github.com/geocoder-php/nominatim-provider

I have never used Nominatim, and this package is just an elaborate Laravel wrapper for the GeocoderPhp project. :) If you are able to figure it out there, please do let me know.

[2018-01-11 23:32] #115 closed

[2018-01-14 18:35] Norgul opened #116 "GeoIP2 provider with GoogleMaps provider"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.5
PHP Version: 7.1
Operating System and Version: MacOS Sierra

### Issue Description
I wanted to use multiple providers as specified in documentation. Specifically I wanted to use [GeoIP2](https://packagist.org/packages/geocoder-php/geoip2-provider) provider along side Google maps one.

I checked out the issue #4 but it doesn'

[2018-01-14 18:41] mikebronner commented on #116
Hi @Norgul,

Thanks for reaching out with your specific use-case.

To answer your first question: yes, anytime you want to change which providers or adapters are loaded, you would need to publish the config and customize it. So you're on the right path there.

As to the second part of the issue, let me look into what's happening there and make sure the provider works. I'll get back to you hopefull

[2018-01-14 21:43] mikebronner commented on #116
@Norgul Don't change the adapter in the config file. I already account for that when registering the providers. Can you post the error message you get without changing the adapter in the config file?

[2018-01-14 22:30] mikebronner commented on #116
@Norgul I have made some changes to how GeoIP2 is loaded. Please review the updated config in the readme. To get an idea of how to set up GeoIP2, take a look at the test configuration: https://github.com/geocoder-php/GeocoderLaravel/blob/1da707448510dbcfea30c41c1d521b28271cb72c/tests/config/testConfig.php#L39

Let me know if this works for you! :) Thanks for reporting the problem.

[2018-01-14 22:30] #116 closed

[2018-01-15 06:08] Norgul commented on #116
Also while you're at it...can you tell me whether it is possible to have multiple adapters also?

[2018-01-15 06:22] Norgul commented on #116
Hi @mikebronner thank you for the info, I updated the package with `composer update` and inserted DB I have in the reader under the config, however I am still getting the same error. I presume it is possibly because the `GeoIP2Adapter` in constructor takes

    public function __construct(ProviderInterface $geoIpProvider, $geoIP2Model = self::GEOIP2_MODEL_CITY)

and it doesn't get automatically re

[2018-01-15 13:30] mikebronner commented on #116
Hi @Norgul, please provide your complete configuration file, the line of code that is causing the error, and the complete error stack trace.
You can only use a single adapter, however, GeocoderLaravel will handle the adapter GeoIP2 for you, so you want to leave the adapter using an HTTP adapter, so that the chain provider will work.

The first provider in the configuration file will be the default

[2018-01-16 07:22] mdupor commented on #116
I tried reinstalling all the packages needed, also updated `composer require php-http/curl-client` and now it works. Thanks!

The provider however doesn't fetch a `locality()` but it founds country (actually, nothing but country and coordinates is found). Is that the DB issue then or?

[2018-01-16 07:22] Norgul commented on #116
I tried reinstalling all the packages needed, also updated `composer require php-http/curl-client` and now it works. Thanks!

The provider however doesn't fetch a `locality()` but it founds country (actually, nothing but country and coordinates is found). Is that the DB issue then or?

[2018-01-16 14:23] mikebronner commented on #116
@Norgul yes, that sounds like an issue specific to the database you have connected. It may not contain any other information. You would have to check with whomever supplied the database to you. Glad you got things working! :)

[2018-01-17 23:15] maxalmonte14 opened #117 "Call to undefined method Geocoder\Provider\GoogleMaps\Model\GoogleAddress::getLatitude()"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.5
PHP Version: 7.1
Operating System and Version: Ubuntu 16.04

### Issue Description
In the previous version of the package after doing this `Geocoder::geocode('address')->get()->first()` I could call the `getLatitude`, `getLongitude` and other methods, after update the package I'm getting an error. I suppose this is because t

[2018-01-17 23:54] mikebronner commented on #117
Hi @maxalmonte14, thanks for posting the detailed error report! :)

You mentioned that you were using a previous version -- do you remember what version that was? Prior to 4.0? In 4.0 a lot changed in the underlying package: https://github.com/geocoder-php/Geocoder

If that's not it, try the following and post the results here:
[code]

[2018-01-18 13:01] maxalmonte14 commented on #117
Of course, I was using the `0.6.0` version, that's my previous `composer.lock` says.

I get this output, with all the data what I need in private properties with no getters apparently

[code]

[2018-01-18 15:23] maxalmonte14 commented on #117
I found the problem with `getLongitude / getLatitude` method, before you calling them you need to call the apparently new `getCoordinates` method. In previous versions, you could call `getLongitude / getLatitude` directly but that is available no more.

I think would be useful document this change between the `0.6.0` and the actual version, I don't really know if the `1.x` version has the same iss

[2018-01-19 00:00] mikebronner commented on #117
@maxalmonte14 Thanks for following up with this! Yea, this is definitely a change. The reason it isn't documented here, is because this is all part of the base package geocoder-php. Any time questions arise that deal with the specific results, an issue should be opened in that package. :) I'll go ahead and close this for now. Thanks again for raising the issue.

[2018-01-19 00:00] #117 closed

[2018-01-25 10:29] zhengfen commented on #104
@StanBarrows
How to ' clearing ALL possible caches '?  I have exactly the same problem, and simply cache:clear doesn't solve the problem. Thank you in advance

[2018-01-25 10:33] zhengfen commented on #104
Illuminate\Support\Collection {#763
  #items: array:1 [
    0 => Geocoder\Model\Address {#765
      -coordinates: Geocoder\Model\Coordinates {#783
        -latitude: 37.751
        -longitude: -97.822
      }
      -bounds: null
      -streetNumber: null
      -streetName: null
      -subLocality: null
      -locality: null
      -postalCode: null
      -adminLevels: Geocoder\Model\AdminLevelColle

[2018-02-06 12:12] nigam214 opened #118 "unable to use geocoder in laravel 5.3"
### General Information
GeocoderLaravel Version: 4.0.5
Laravel Version: 5.3.29
PHP Version: PHP 7.0.25
Operating System and Version: Linux ubuntu-xenial 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux ; on Vagrant

### Issue Description
I am getting error in Chain when trying to initiate Geocoder::using('google_maps').

### Steps to Replicate

### Stac

[2018-02-06 12:33] mikebronner commented on #118
Can you post you geocoder configuration file as well? That would help a lot. :) Thanks

[2018-02-06 17:21] nigam214 commented on #118
I have used default configuration file. I mean, I didn't load the local configuration file for geocoder.

Update:

Geocoder::using('google_maps')->reverse($latitude, $longitude);
This gives error as given above

Geocoder::reverse($latitude, $longitude);
This works without error

[2018-02-08 14:06] mikebronner commented on #118
You need to add the google maps configuration outside the chain provider, if you want to use it explicitly. Anything inside the chain provider is not available to `using()`, except via `using('chain')`.

My recommendation is to publish and customize the config file by adding a second google maps provider entry outside of the chain provider.

Let me know how that works for you.

[2018-02-08 14:06] #118 closed

[2018-02-08 14:24] mikebronner opened #120 "Update to Laravel 5.6"
Waiting for dependency `orchestra/testbench-browser-kit` to update to version 3.6 (it is waiting for `laravel/browser-kit-testing` to update to version 4.0).

[2018-02-08 17:31] nigam214 commented on #118
Got the point. I have continued my project without `using()` for now as I want to use google maps which comes with default. Thank you for the information.

[2018-02-09 14:39] mikebronner commented on #120
Fixed in release 4.0.6.

[2018-02-09 14:39] #120 closed

[2018-02-10 02:38] crynobone opened #121 "The project doesn't need to use Testbench BrowserKit"
From what I see in the tests folder, you don't actually need Testbench BrowserKit, `FeatureTestCase` should just extends `Orchestra\Testbench\TestCase`.

### Testbench

It's loads Laravel apps and able you to run artisan commands, migrations, basic routing from within your tests.

### Testbench BrowserKit

It extends **Testbench** an allow you to interact with the view using CSS selectors (interac

[2018-02-10 03:38] mikebronner commented on #121
Right, I know they aren't necessary. My dev workflow includes this encompassing setup. I have moved to this for all my packages, and like to keep the same workflow for all packages for maintenance and ease of use. :)

But you're right, the existing tests don't utilize any browser actions, and should just extend Testbench.

[2018-02-10 03:41] #121 closed

[2018-02-22 07:56] dneykov opened #122 "PHP 7.0"
Is this library compatible with PHP Version 7.0.24

Thanks.

[2018-02-22 13:54] mikebronner commented on #122
It may work, however, I have not tested it against that. If you are using Laravel 5.6 you will definitely need to use PHP 7.1.3 or higher. If it's not compatible you would get an exception. Hardly anything changed in the package when we added L5.6 compatibility, so you should be ok, but I can't guarantee it.

[2018-02-22 13:54] #122 closed

[2018-03-23 05:53] cg-rsands opened #124 "Support for Lumen"
### General Information
GeocoderLaravel Version: 4.0.6
Laravel Version: **Lumen** 5.6
PHP Version:  7.1

### Issue Description
config_path() is not present in lumen, undefined function

### Steps to Replicate
Install package and add service provider

[2018-03-23 05:53] cg-rsands commented on #124
Side note.  Tinker had this issue and the fix they implemented was here:

https://github.com/laravel/tinker/commit/4cdc9c35744de929272f0b7245669e7520b486ce

[2018-03-23 15:53] mikebronner commented on #124
Thanks for the update :) Will take a look at this over the weekend. :)

[2018-03-25 23:24] #124 closed

[2018-03-25 23:25] mikebronner commented on #124
@cg-rsands Could you test version 4.0.8 if that fixes the issue? I don't have Lumen installed to test on.

Thanks!

[2018-03-29 11:54] mbukovac opened #126 "How to get using('provider') to work"
### General Information
GeocoderLaravel Version:
Laravel Version: 5.6.14
PHP Version: 7.2.3
Operating System and Version: Vagrant/Homestead

### Issue Description
When trying to use

I get an error:

As listed in the issue [#118](118), the solution you stated was

How would I do this?

Specifically, I am trying to use GoogleMaps and Yandex, so my geocoder.php looks like this:

[code]
Without using

[2018-03-29 15:59] mikebronner commented on #126
Hi @mbukovac, the following configuration should do the trick:

[code]

Please feel free to re-open if that does not work for you. :)

[2018-03-29 15:59] #126 closed

[2018-04-05 06:20] jmichaelterenin commented on #115
Nominatim::class => [
                root-url,
                language-locale,
            ],

where root-url is: "https://nominatim.openstreetmap.org"
and language-locale (for me) is: "en"

Just open up the constructor for the Adapter you want to use and you'll see what parameters are required/optional.

[2018-05-17 08:04] Jaume007 opened #127 "How to use google maps for business"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.4
PHP Version: 7.0

### Issue Description
We have an application that relies heavily on geocoding addresses and drawing routes. Mainly our queries to google maps are done from frontend but we need to geocode some addresses from our api. We have a google business account for google maps.
I'm trying to set up the GoogleMaps prov

[2018-05-17 15:53] mikebronner commented on #127
@Jaume007 Unfortunatly I don't have the answer to that as I have not used Google Maps for Business. Also, specific GeoCoder functionality is probably better asked in the parent repo: https://github.com/geocoder-php/Geocoder. You will probably have better luck there. :) Sorry for not being able to help at this time.

[2018-05-17 15:53] #127 closed

[2018-06-01 13:44] sololance opened #128 "Suggestion: Locale as config variable"
### General Information
GeocoderLaravel Version: latest
Laravel Version: 5.6
PHP Version: 7.2.16
Operating System and Version: ubuntu

### Issue Description
When having multiple providers we need to set language value "withLocale" variable. Provider may have different language settings and it's easy to forget which one had variable set.

What I suggest adding easy method to set this variable "with

[2018-06-01 13:47] mikebronner commented on #128
@sololance  I'll look into this, thanks!

[2018-06-13 18:04] fritosxii opened #129 "Provider set up issue"
### General Information
GeocoderLaravel Version: @stable
Laravel Version: 5.6
PHP Version: 7.2.*
Operating System and Version: Debian

### Issue Description
Updated laravel to 5.6 with composer. Noticed the list of available providers skimmed down (I used Nominatim prior) and configuration changed.

I redownloaded the Nominatim package into the new vender/geocoder-php folder. I then added the Nomi

[2018-06-13 18:17] mikebronner commented on #129
Hi @fritosxii, did you follow the instructions for setting up nomination here:
https://github.com/geocoder-php/Geocoder#special-geocoders-and-providers
https://github.com/geocoder-php/nominatim-provider

[2018-06-22 18:40] mikebronner commented on #129
@fritosxii Are you still having this issue? if you are, please let me know what didn't work with the new provider instructions under 4.0 and re-open this ticket. Thanks :)

[2018-06-22 18:40] #129 closed

[2018-07-01 18:13] mikebronner commented on #128
See the examples here how to set locale: https://github.com/geocoder-php/Geocoder#statefulgeocoder
I don't think this package should differ from the parent implementation. Let me know if that doesn't work for some reason, I'll close this issue in the meanwhile. Thanks! :)

[2018-07-01 18:13] #128 closed

[2018-07-07 22:05] jehadja opened #131 "suggestion to add to documentation"
### General Information
 it will be helpful to add how to make locale result for the package i see a lot of question even some people make pull request etc..
so its better to make it clear its possible to achieve without code changing
code shall be as following
[code]
result :
[code]

[2018-07-14 23:24] humblecoder commented on #101
So, is there no way to convert an *individual* `Address` object to JSON?  I wouldn't doubt I'm missing something, but returning a collection of PHP objects with no intuitive means of navigation/interpretation doesn't seem helpful.  🤔

[2018-07-15 19:06] mikebronner commented on #101
You could always do something like this:

[code]

Let me know how that works.

[2018-07-16 03:34] andreshg112 commented on #111
Same problem here, but with reverse():
![image](https://user-images.githubusercontent.com/15859884/42742252-11803dbc-887f-11e8-9543-587502b09854.png)

But if I do this with geocode(), It works:
![image](https://user-images.githubusercontent.com/15859884/42742276-352bd4c4-887f-11e8-8761-983b9cc36773.png)

[2018-07-16 04:11] andreshg112 commented on #111
Sorry, I got problems with my API Key. But, I suggest you show or throw an error instead of empty results.

[2018-07-16 15:33] mikebronner opened #132 "Look into overriding `$collection->toJson()` to return complete JSON result"
See #101

[2018-07-16 16:53] humblecoder commented on #101
@mikebronner Hrm, your method returns an empty set.  I ended up manually building a hash with each function individually (e.g. `getFormattedAddress()`, `getStreetName()`, `getLocality()`)
 😖

[2018-07-16 16:54] mikebronner commented on #101
@humblecoder would you mind sharing your solution? perhaps it will help with #132

[2018-07-16 17:04] humblecoder commented on #101
Basically I did the following (assumes you're inside a Laravel controller):

Step 1)  Calculate address.

[code]

Step 2)  Acquire relevant collection value.  In my case it's the index of the 'ROOFTOP' object.

[code]

Step 2)  Call built-in methods on that particular collection value.

[code]

[2018-07-16 17:06] mikebronner commented on #101
@humblecoder Thanks for sharing. This will hopefully help others in the meantime.

The reason for this limitation is that the underlying Geocoder library does not support automatic conversion to json, like eloquent collections do. This package is just a nice wrapper to give standard collections around the objects returned by the Geocoder library.

[2018-07-24 22:32] osc2nuke opened #133 "How do it test it"
Where is the link to check my location?

[2018-07-24 22:34] mikebronner commented on #133
Please elaborate -- check your location against what -- check your location how -- which link are you expecting?

This package converts addresses (postal, IP) to lats and longs, commonly known as geocoding.

[2018-07-24 23:57] osc2nuke commented on #133
Just show me that what is offered works.
I visit your site based on the current package.
You even make a website for it.
Yet there is NOTHING to determine my real geolocation.
So how you offer me to use your package, so i can actually see it works?

[2018-07-24 23:59] osc2nuke commented on #133
There is to many packages out there,
You think i gonna split each of them?
I not want to waste my time of non working resources.

[2018-07-25 00:10] mikebronner commented on #133
@osc2nuke you are free to try out the package and see if it works, if it doesn't do what you need, try another package. Please keep in mind that this is a FREE open-source package, and we only have limited resources to devote to it. To read up on the documentation as to what this package offers, please review the following:
- https://github.com/geocoder-php/Geocoder/blob/master/README.md
- https:/

[2018-07-25 00:10] #133 closed

[2018-07-25 00:11] osc2nuke commented on #133
Not claim what you not can offer.

[2018-07-25 00:14] mikebronner commented on #133
We are not wasting anyone's time. Feel free to choose another package that doesn't "waste your time". We make this package available as-is and are open to questions, and do our best to help. However, we cannot research which packages work for your specific situation and project, that is only something you can do.

[2018-07-30 15:38] fritosxii commented on #129
Ok, I think I can finally describe the issue I'm running into. Basically in my composer file under require I have this:

`"toin0u/geocoder-laravel": "@stable",`

When I look at my .lock file, the required section for it is this:

`"geocoder-php/chain-provider": "^4.0",`
                `"geocoder-php/geo-plugin-provider": "^4.0",`
                `"geocoder-php/google-maps-provider": "^4.0",`

[2018-07-30 15:55] mikebronner commented on #129
Hi @fritosxii, have you tried using:

[code]

[2018-07-30 16:05] fritosxii commented on #129
Pulls in the same version:
`"version": "4.0.10",`

Same issue with manually requiring `geocoder-php/nominatim-provider`

[2018-07-30 17:06] fritosxii commented on #129
Could it have something to do with `geocoder-php/geo-plugin-provider` and `geocoder-php/google-maps-provide both requiring `geocoder-php/common-http[4.0.0]` while `geocoder-php/nominatim-provider` requires `geocoder-php/common-http[4.1.0]`?

[2018-08-01 02:36] brentscholl commented on #111
I'm having the same problem with `reverse()` returning empty.

How did you solve this issue regarding API key?

[2018-08-01 02:39] andreshg112 commented on #111
Hi, @brentscholl !
I think I did: `dd(app('geocoder')->reverse('10.5', '-75.2'));`, then I search for the URL and I click on it. I could see the error in the browser. I had to create a new API.

[2018-08-01 02:58] brentscholl commented on #111
Thanks for the response!

Hmm. Ok the big difference is `dd(app('geocoder')->reverse('10.5', '-75.2'))` returns a result.  I found the URL. When I click on it, it returns the JSON results.

But `dd(app('geocoder')->reverse('10.5', '-75.2')->get())` returns `null`

I'm having an issue where I can not use `getStreetName()` or `getCountry()` etc.

`dd(app('geocoder')->reverse('10.5', '-75.2')->get()-

[2018-08-01 03:25] andreshg112 commented on #111
`app('geocoder')->reverse('10.5', '-75.2')->get();` should return a Collection. If it doesn't, it's not working.
This worked for me:
![image](https://user-images.githubusercontent.com/15859884/43499320-8e012dea-9510-11e8-9bef-107ddb08fa7f.png)

Can you show us your JSON result?
It has to look like this:
![image](https://user-images.githubusercontent.com/15859884/43499299-798395c4-9510-11e8-93ee-e9

[2018-08-01 03:36] brentscholl commented on #111
When I visit the URL `https://maps.googleapis.com/maps/api/geocode/json?latlng=52.773613,-108.297923&region=en-US&key=[MY API KEY HERE]`

I get this:
![json](https://user-images.githubusercontent.com/30605668/43499585-886e3992-9509-11e8-9fad-48c072ab89b2.jpg)

`dd(app('geocoder')->reverse('52.7737667', '-108.2977717'));`

Gives me an empty collection
![screencapture-127-0-0-1-8080-register-2018-07

[2018-08-01 03:39] andreshg112 commented on #111
Could you try with `use Geocoder\Laravel\Facades\Geocoder;` instead of `app('geocoder')`.

Do you see something strange when you do: `dd(Geocoder::reverse($this->latitude, $this->longitude))`?

[2018-08-01 03:43] brentscholl commented on #111
I tried what you suggest. Just the same result.

[2018-08-01 03:46] andreshg112 commented on #111
config/geocoder.php:
[code]

.env:
[code]

[2018-08-01 03:48] andreshg112 commented on #111
Have you tried `php artisan cache:clear`?

[2018-08-01 03:52] brentscholl commented on #111
My `config/geocoder.php` is same as yours. and yes tried `php artisan cache:clear` same result. I have also done everything Norgul has done.

(also, see my edit answer above for JSON)

[2018-08-01 03:56] brentscholl commented on #111
`dd(app('geocoder')->geocode('5.43.168.58')->get()->first()->getCountry()->getName());` works fine. It is only a problem when I use `reverse()` so I feel like my config is all fine? I'm not sure what I'm missing. I'm not using a virtual box, my project is local using `php artisan serve`

[2018-08-01 03:59] andreshg112 commented on #111
`geocode()` almost always works because It doesn't use google maps or any API key. I use Lampp (Xampp). Have you tried stopping your firewall for a moment?

[2018-08-01 04:09] brentscholl commented on #111
Just tried. Getting same results. Empty Collection

[2018-08-04 13:19] wivaku opened #134 "how to list all registered providers?"
How do I list the names of the registered providers?
I do not want to manually + hardcoded create that list based, but dynamically based on actually registered providers. I tried using `app('geocoder')->getProviders()`. `dd()` shows them, but I do not seem to be able to access them.
Using Laravel 5.6, geocoder-laravel v4.0.10.

When using `dd()` the chain of providers is shown.
[code]

When using

[2018-08-04 15:30] mikebronner commented on #134
The chain provider already does that -- it's purpose is to iterate through providers until it finds a result. This issue is specific to the chain provider, I would recommend opening this issue here: https://github.com/geocoder-php/Geocoder, but also do some code-diving to see how it works here: https://github.com/geocoder-php/chain-provider

Likely it isn't behaving as you need it to exactly, I wo

[2018-08-04 15:30] #134 closed

[2018-09-05 16:45] fritosxii commented on #129
`bump`

[2018-09-05 16:56] mikebronner commented on #129
I will take a look at this as soon as I can. I am currently away on family emergency. Sorry for the delay.

[2018-09-05 16:57] mikebronner opened #135 "Upgrade to Laravel 5.7"

[2018-09-05 17:13] fritosxii commented on #129
No rush! Hope everything goes well with that :)

[2018-09-14 19:09] #135 closed

[2018-09-19 14:42] ahmadnurus opened #137 "Call to a member function getformattedAddress() on null"
### General Information
GeocoderLaravel Version:  ^4.0
Laravel Version:  5.6.*
PHP Version: 7.2.7-0ubuntu0.18.04.2
Operating System and Version: Ubuntu 18.04 LTS - linux 4.15.0-23-generic

### Issue Description
Always get error `Call to a member function getformattedAddress() on null`

### Steps to Replicate
[please provide a list of specific steps that will allow me to replicate this issue]

###

[2018-09-19 20:22] ejrudy opened #138 "Result sets mostly empty"
### General Information
GeocoderLaravel Version: 4.0.20
Laravel Version: 5.3.31
PHP Version: 7.2.4
Operating System and Version: Ubuntu 16.04.1

### Issue Description
Recently upgraded this package on a project and since then I'm getting seemingly random retrieval of results. I'm not sure what's going on, but I seem to get wildly varying results back from the geocoder (going by address, sometimes

[2018-09-20 05:28] mikebronner commented on #138
Hi @ejrudy, I'm not sure this is an issue with the package, as GeocoderLaravel is just a Laravel wrapper for the core Geocoded package. I have seen behavior like this when the provider rate-limited queries from a certain IP address. Have you checked your Google Developer Console to see if you are exceeding your quota? I won't be able to look into this myself for a while yet, as I am traveling outs

[2018-09-20 18:13] ejrudy commented on #138
Thanks for the quick reply @mikebronner- I'll look into that and let you know if this was a false alarm.

[2018-09-24 15:35] ejrudy commented on #138
@mikebronner I double-checked my usage and I seem to be getting back 403 errors from Google. I also tried utilizing the Guzzle adapter to see if that would make any difference (unfortunately not).

Could that be related to the SSL issues that I had seen noted in the docs and some GH issues? I also noticed in the docs something about setting SSL to true when providing a google API key...but no ment

[2018-09-25 08:20] ahmadnurus commented on #137
it's because i have exceeded my daily request quota.
LOL

[2018-09-25 08:20] #137 closed

[2018-09-25 21:29] humblecoder commented on #138
I'm receiving this too when reverse geocoding.  It may be rate-limited, but it also may be due to the fact that I have no earthly idea how to add alternative "unlisted" providers to the `Chain`.   😖

[2018-09-26 13:50] mikebronner commented on #138
Hi @humblecoder please open a new issue describing your problem and setup in detail.

[2018-09-26 13:55] mikebronner commented on #138
Hi @ejrudy, please check the following:
https://duckduckgo.com/?q=google+maps+api+403&t=osx&ia=qa

I suspect you arexceeding your rate limit. If that is not the case, feel free to re-open this issue and I will test your above steps. If they end up working for me, it is likely that is has to do with your Google API account.

[2018-09-26 13:55] #138 closed

[2018-09-26 17:31] humblecoder opened #139 "Mapquest provider not returning street numbers."
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.7
PHP Version: 7.2
Operating System and Version: Ubuntu 16.04 (Vagrant) (MacOS host)

### Issue Description
Mapquest provider doesn't return street numbers.  I've ensured that my API key is correct.  It does return a "general area" which includes street name/city/state -- simply no street number.

Also, I've sent the exact sam

[2018-09-27 15:11] humblecoder commented on #139
Apparently, despite responding to the fact that your `API_KEY` was accurate/inaccurate , it also required a second `constructor` param of `true`.  I'm sure this is documented  *somewhere*, but I never came across it.

[2018-09-27 15:11] #139 closed

[2018-10-23 16:36] yohio opened #140 "Empty results (tried everything on the other closed tickets)"
### General Information
GeocoderLaravel Version: 4.0.20
Laravel Version: 5.5
PHP Version: 7.1.9
Operating System and Version:
1. WAMP on windows
2. Ubuntu 18 on vultr with ssl (running LEMP)
** Both behaving the same **
### Issue Description
After installing it (did the process twice) and setting it up I run `app('geocoder')->geocode('Los Angeles, CA')->get();` and get ` object(Illuminate\Support\

[2018-10-25 21:18] xperiuminc commented on #140
I have the same issue with the `app('geocoder')->reverse(43.882587,-103.454067)->get();`
Results when I `dd()`
[code]
I made sure that the my API key is correct and that geocoding is enabled in Google Cloud Platform

[2018-10-26 03:59] xperiuminc opened #141 "reverse() returning empty collection / null"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version: 5.6
PHP Version: 7.2.4
Operating System and Version: WAMP on Windows 10

### Issue Description
`app('geocoder')->reverse(52.773613,-108.297923)->get()` is returning an empty collection.

`app('geocoder')->geocode('5.43.168.58')->get()` works fine.

The problem is when I try to do a `reverse()`

I have followed documentation for

[2018-10-27 19:17] hassan-bazzi commented on #141
Same issue here

[2018-10-27 20:55] brentscholl commented on #141
I am also having the same problem. `reverse()` returns an empty collection. No error messages

The link @xperiuminc posted using my API key returns the correct json data.

[2018-10-28 12:46] GalLellouche commented on #140
also have the same problem,
works with IP but not with address.
using laravel 5.7 and windows.

[2018-10-31 22:36] jmichaelterenin opened #142 "Class Geocoder\Provider\Chain does not exist"
### General Information
GeocoderLaravel Version: 4.0
Laravel Version:  5.7.9
PHP Version:  7.1.8
Operating System and Version:
Windows 10

### Issue Description
I recently upgraded to Laravel 5.7 from 5.5, where there were no issues.
`
try {
            $geo_address = $this->getAddressFormat();
            $geocode = app('geocoder')->geocode($geo_address)->get();
            // The GoogleMapsProvi

[2018-10-31 22:38] mikebronner commented on #142
It looks like you didn't overwrite your config file (you need to force publish if it already exists). Please compare to here: https://github.com/geocoder-php/GeocoderLaravel/blob/master/config/geocoder.php

[2018-10-31 22:38] #142 closed

[2018-10-31 22:38] mikebronner commented on #141
I'll look into this, thanks for reporting.

[2018-10-31 22:39] mikebronner commented on #140
Will look into this as soon as possible. Thanks for reporting.

[2018-10-31 22:43] jmichaelterenin commented on #142
Mike, you rock! Fastest responder I've ever seen on these github packages. Thank you very much, and even more for the package itself.

[2018-10-31 23:09] mikebronner commented on #142
@jmichaelterenin Awesome, glad that fixed it! :)

[2018-10-31 23:12] jmichaelterenin commented on #142
Yes, and the config file is way cleaner now, along with the install/utilization of other Providers like BingMaps (which I included). Again, well done Mike. Really.

[2018-10-31 23:13] mikebronner commented on #142
@jmichaelterenin Thanks ... but I'm really only wrapping the package for Laravel, someone else has been working on the core package.  :) https://github.com/geocoder-php/Geocoder

[2018-10-31 23:14] jmichaelterenin commented on #142
I know that, that's what I mean. Wrapping things go a long way in keeping things clean. it really does.

[2018-11-01 09:03] robbplo commented on #140
I had this issue but it was due to my API key not being set correctly. I use a different .env key for it so publishing the config and changing the env key fixed it for me. Did you try making a manual http request using your api key?

[2018-11-03 00:47] mikebronner commented on #141
@xperiuminc @brentscholl @hassan-bazzi I am unable to reproduce this error. My initial suspicions is that there is something wrong with your config file, or you have exceeded Google's API limit. I tried your exact query above `app('geocoder')->reverse(52.773613,-108.297923)->get()` and got results. I'm not sure if your locale setting might affect this if you have it set to something other then the

[2018-11-03 00:47] #141 closed

[2018-11-03 00:51] mikebronner commented on #140
Hi @yohio @GalLellouche, I think @robbplo might be on to something. I have not been able to replicate your problems. As with #141, I am getting the expected results. This is either something with your config or your service provider account. If you can provide more information to help troubleshoot, please feel free to reopen. However, based on the information provided, this does not appear to be a

[2018-11-03 00:51] #140 closed

[2018-11-03 00:52] xperiuminc commented on #141
Shouldn't there at least be some sort of error thrown? Not sure how I can go about troubleshooting this problem.

[2018-11-03 00:54] mikebronner commented on #141
@xperiuminc The package isn't erring out ... it is probably getting an empty result set back from the provider (Google Maps, I presume). The package has no way of knowing an error occurred. Double-check that the API token is set correctly, as well as Google Developer Console to make sure you haven't exceeded your quota.

[2018-11-03 19:05] mikebronner commented on #132
Unfortunately the `toJson` method won't work on the collection directly, as the classes in the collection are not compatible. We would have to override each of these models, might do that later.

For now I added a method directly on the geocoder.

[2018-11-03 19:09] mikebronner commented on #101
@humblecoder @stefensuhat I don't know why I didn't bring this up earlier. You can get the JSON representation via `->dump("geojson")` instead of `->get()`. I added a shortcut in 4.0.21:

[code]

[2018-11-05 18:09] fritosxii commented on #129
Ok so, I'm not sure what was going on with my package dependencies. I ended up manually updating common-http by itself apart from dependencies, and then it let me install nominatim-provider. I still have some things to learn about composer packaging.

Consider this issue complete!

[2018-11-14 16:19] mikebronner commented on #45
Reopening and will review in the near future.

[2018-11-15 16:29] scottgrayson opened #143 "Don't cache result if result = null when api request fails"
### General Information
GeocoderLaravel Version: 4.0.0
Laravel Version: 5.6.39
PHP Version: 7.2.8
Operating System and Version: mac os 10.13.6

### Issue Description
Empty results should not always be cached as the result.

Sometimes it makes sense. Like if the api requests were all successful and the address did not find anything

Other times, I would like to retry the api call instead of pulling

[2018-11-15 17:04] scottgrayson commented on #143
just realized that i can get errors with using('google_maps') instead of chain. that makes sense.

This fixes the problem for me

Although, it still seems like it could be useful to not cache null for the result when all chain providers failed (api request error)

[2018-11-15 17:04] #143 closed

[2018-11-19 00:05] xSoulRootx opened #144 "Add output language support"
### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.7.*
PHP Version: 7.2
Operating System and Version: Ubuntu

### Issue Description
Output language in reverse query don't work

### **Resolve**
vendor\geocoder-php\google-maps-provider\GoogleMaps.php

in
[code]
before
[code]
add
[code]
or something like this

[2018-11-22 11:52] simonschaufi opened #145 "Inject Logger configuration"
### General Information
GeocoderLaravel Version: any
Laravel Version: 5.6
PHP Version: any
Operating System and Version: any

### Issue Description
I would like to log Exceptions during geocoding but don't know how to configure my logger. I already asked how to use the logger in Geocoder package and got an answer: https://github.com/geocoder-php/Geocoder/issues/901#issuecomment-440984616. What is

[2018-12-15 06:59] didwiz opened #146 "No provider registered error"
### General Information
GeocoderLaravel Version: "^4.0"
Laravel Version: 5.6.4
PHP Version: 7.0
Operating System and Version:  ubuntu 16.04

### Issue Description
On trying to running this line `$geocoder->reverse($lat, $lon)->toJson();` , i get the no provider registered error..
I have the config file published with the default providers listed, the geocoder.php file, with my config file matching

[2018-12-24 10:14] eugenekurasov commented on #145
Hi, Laravel not supported automatic setters.

You can create PR and insert Logger to ProviderAndDumperAggregator
https://github.com/geocoder-php/GeocoderLaravel/blob/11408306ec9b148a7f465678488426f13dc26f25/src/ProviderAndDumperAggregator.php#L138
Here is example like can do this (I didn't testing this solution):
[code]

I hope this help you.

[2019-01-29 12:30] brideo commented on #146
You need to register the provider:

app/config.php

$app->register(Geocoder\Laravel\Providers\GeocoderService::class);

[2019-02-07 20:34] xperiuminc commented on #141
For anyone who stumbles on this. I was able to solve this problem by using Laravel Homestead instead of wamp.

I was using Wamp and `php artisan serve` to serve the site on my local machine. The problem may be with wamp.

After switching to Laravel Homestead using Vagrant and Virtual Box, `app('geocoder')->reverse(52.773613,-108.297923)->get()` works

I'm not sure what was causing the problem in w

[2019-02-18 09:24] wahabahmadbutt opened #147 "Geo Coder syntax error issue"
Laravel Version: 5.4
PHP Version: 7.0.31
Operating System and Version: Windows 10

Hi i have installed the package and i am facing the issue
exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'syntax error, unexpected ':', expecting ';' or '{'' in /srv/www/madison_api/releases/20190218080731/vendor/spatie/geocoder/src/Geocoder.php:63
Please help me

[2019-02-18 17:33] mikebronner commented on #147
@wahabahmadbutt The problem lies in a different package. This is not the Spatie geocoded package.

[2019-02-18 17:33] #147 closed

[2019-03-04 18:02] mikebronner commented on #144
@xSoulRootx I reposted your issue here: https://github.com/geocoder-php/Geocoder/issues/940
Please follow up with it there, as it relates to the underlying package, and not this package. :) Good luck!

[2019-03-04 18:02] #144 closed

[2019-03-07 16:44] trippo opened #148 "PRS-17 error on geocoding"
No PSR-17 response factory found. Install a package from this list: https://packagist.org/providers/psr/http-factory-implementation

[2019-03-07 16:57] trippo commented on #148
![image](https://user-images.githubusercontent.com/497169/53974257-85150c80-4102-11e9-9012-b81fa3de0788.png)

[2019-03-07 17:02] mikebronner commented on #148
@trippo Please provide more information. You haven't explained what you expect, what you think is wrong, or provided anything for us to help you with. Please provide your geocoded config file, and the complete stack-trace of the error from your log.

Guessing from what you posted here, you have not implemented the config file properly, and have not included a proper HTTP layer in your composer.jso

[2019-03-08 07:31] trippo commented on #148
OK geocoder.php

`use Geocoder\Provider\Chain\Chain;
use Geocoder\Provider\GeoPlugin\GeoPlugin;
use Geocoder\Provider\BingMaps\BingMaps;
use Geocoder\Provider\FreeGeoIp\FreeGeoIp;
use Http\Client\Curl\Client;

return [
    /*
    |--------------------------------------------------------------------------
    | Cache Duration
    |--------------------------------------------------------------------

[2019-03-08 10:23] Priet commented on #148
You can 'fix' this by using the Guzzle HTTP Adapter:

`composer require php-http/guzzle6-adapter`

Then in app\config\geocoder.php:

[code]

[2019-03-08 11:17] trippo commented on #148
Thanks this solve this issue

[2019-03-08 11:17] #148 closed

[2019-03-25 21:58] elceka opened #150 "Default package configuration overrides published configuration"
### General Information
GeocoderLaravel Version: 4.1.1
Laravel Version: 5.7
PHP Version: 7.2.14
Operating System and Version: Docker under OSX

### Issue Description
Customized providers inside customized published config file `/config/geocoder.php` has been overrided by package default configuration.

### Steps to Replicate
Run command inside project directory:
`composer require geocoder-php/nomi

[2019-04-06 19:03] startcrowds opened #151 "Laravel error Trying to get property 'result' of non-object"
public function get_address()
    {
        $fields = array(
                "jsonrpc" => '2.0',
                "method" => 'createAddressForToken',
                "params" => array('password'),
                "id" => '1',
        );
        $fields = json_encode($fields);
        $headers = array(
            'Content-Type: application/json'
        );

        $ch = curl_init();
        curl_

[2019-04-06 19:04] startcrowds commented on #151
Error is in the line return $address=$response->result;

[2019-04-06 19:34] mikebronner commented on #151
@startcrowds Could you elaborate on what you are referencing? Where is this code? What is the issue?

[2019-04-06 19:37] mikebronner commented on #150
Thanks @elceka I'll look into this.

[2019-04-06 22:52] startcrowds commented on #151
This code queries a smart contract associated with an ethereum address, but it gives me a value of null and does not recognize it as an object

[2019-04-07 00:26] mikebronner commented on #151
I'm not sure what this has to do with this package?

[2019-04-07 00:32] startcrowds commented on #151
Ok Bro thanks!

[2019-04-07 00:43] #151 closed

[2019-05-13 09:41] romilstage commented on #146
No provider registered error
 sir same issue .
please give me valid solution

[2019-05-31 17:09] andreshg112 commented on #144
This is already implemented but not documented.

[code]

[2019-06-11 19:43] iredmedia opened #153 "Return value of Geocoder\Laravel\ProviderAndDumperAggregator::get() must be an instance of Illuminate\Support\Collection, instance of Geocoder\Model\AddressCollection returned"
### General Information
GeocoderLaravel Version: "toin0u/geocoder-laravel": "4.0",
Laravel Version: "laravel/framework": "5.5.*",
PHP Version: "php": "~7.1.0",
Operating System and Version: OSX 10.14

### Issue Description
I'm getting what seems to be intermittent errors on geocoding, and I cannot figure out why.

`Return value of Geocoder\Laravel\ProviderAndDumperAggregator::get() must be an inst

[2019-06-11 19:45] mikebronner commented on #153
Thanks for reporting this, I will see if I can find out why this would be happening.

[2019-06-12 18:10] iredmedia commented on #153
Is it possible it's because i'm defining Providers alongside the chain? I cannot see why it would ever return "Geocoder\Model\AddressCollection" :\

[2019-06-25 13:11] pxpm commented on #150
As you are changing config values, is it possible you are still using cached values?

Would you mind trying `php artisan config:cache` ?

BR

[2019-06-25 14:59] mikebronner commented on #150
@elceka Also try `config:clear`.

[2019-06-25 15:09] pxpm commented on #150
@mikebronner `config:cache` will do both clear and re-caching :)

[2019-07-20 12:44] simonschaufi commented on #145
I tried debugging the whole process and this method got never called.

This is my config:

[code]

I would highly appreciate it if you could send me a working solution with the logger running.

[2019-08-22 14:04] darkcast64 opened #154 "Argument 1 passed to Geocoder\Laravel\ProviderAndDumperAggregator::getArguments() must be of the type array, string given,"
### General Information
GeocoderLaravel Version: 4.1
Laravel Version: 5.8
PHP Version: 7.2
Operating System and Version: windows 10

### Issue Description
i have this error when i try to go to my view.

i have installer toinOu/geocoder-laravel

set geocoder.php like this :
[code]

set up my controller like this :
[code]

[2019-08-22 14:06] mikebronner commented on #154
@darkcast64 Please post the complete stack trace of the error.

[2019-08-22 14:08] darkcast64 commented on #154
Argument 1 passed to Geocoder\Laravel\ProviderAndDumperAggregator::getArguments() must be of the type array, string given, called in C:\wamp64\www\laravel\siteBertrandParrot\vendor\toin0u\geocoder-laravel\src\ProviderAndDumperAggregator.php on line 246

is it what do you want?

[2019-08-22 14:09] mikebronner commented on #154
The complete stack trace from `/storage/logs/laravel.log`. It should be many lines, starting with a timestamp.

[2019-08-22 14:11] darkcast64 commented on #154
[2019-08-22 13:46:44] local.ERROR: Argument 1 passed to Geocoder\Laravel\ProviderAndDumperAggregator::getArguments() must be of the type array, string given, called in C:\wamp64\www\laravel\siteBertrandParrot\vendor\toin0u\geocoder-laravel\src\ProviderAndDumperAggregator.php on line 246 {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Argument 1 passed to

[2019-08-22 14:11] mikebronner commented on #154
To debug, first remove the type hint `array` from the first argument passed into `Geocoder\Laravel\ProviderAndDumperAggregator::getArguments()`, then `dd()` the argument to see what value is being passed in.

[2019-08-22 14:12] mikebronner commented on #154
Thanks for the stack trace (in the future, don't forget to put it in code markers).

[2019-08-22 14:14] darkcast64 commented on #154
i did what you sayed, i have this :
array:1 [▼
  "Geocoder\Provider\BingMaps\BingMaps" => array:2 [▼
    0 => "en-US"
    1 => null
  ]
]

[2019-08-22 14:16] mikebronner commented on #154
Try `dump()` instead of `dd()`, looks like the first one is right, perhaps there are subsequent calls that trigger the error.

[2019-08-22 14:19] darkcast64 commented on #154
[2019-08-22 14:12:04] local.DEBUG: array (
  0 =>
  array (
    'Geocoder\\Provider\\BingMaps\\BingMaps' =>
    array (
      0 => 'en-US',
      1 => NULL,
    ),
  ),
)
[2019-08-22 14:12:04] local.DEBUG: array (
  0 =>
  array (
    0 => 'en-US',
    1 => NULL,
  ),
)
[2019-08-22 14:12:04] local.DEBUG: array (
  0 => 'Ivory\\HttpAdapter\\CurlHttpAdapter',
)

[2019-08-22 14:36] mikebronner commented on #154
That third entry is the problem. In fact, the last two are both incorrect. I will see what I can find out. Thanks for reporting this.

[2019-09-07 16:25] madn3z opened #158 "getLatitude and getLongitude"
### General Information
GeocoderLaravel Version: 4.2
Laravel Version: 5.8
PHP Version: 7.1.3
Operating System and Version: Windows

### Issue Description
 I am trying to get latitude and longitude with the following code, but it tells me that the "getLatitude" or "getLongitude" method does not exist.

[code]

error:

[code]

with dd($geocode) the following appears to me:

[code]

[2019-09-07 17:22] mikebronner commented on #158
@madn3z Hi, thanks for writing in. Your `$geocode` is a collection. It has no idea of the coordinates, because it may contain many results. This should work:

[code]

[2019-09-07 17:22] #158 closed

[2019-09-07 17:36] madn3z commented on #158
@mikebronner  I did the test with what you told me, but now I throw another error.

[code]
[code]

[2019-09-07 17:39] madn3z commented on #158
@mikebronner  I solved my problem, I was missing the following.

`$geocode->getCoordinates()->getLatitude()`

Thank you very much for your help.

[2019-09-07 17:40] mikebronner commented on #158
Good find! I was about to reply with the same answer, you can view the Address model: https://github.com/geocoder-php/Geocoder/blob/master/src/Common/Model/Address.php

[2019-09-26 10:49] mattmant opened #159 "Localization solution avoids caching"
### General Information
GeocoderLaravel Version: **latest**
Laravel Version: **6.x**
PHP Version: **7.2.4**
Operating System and Version: **Ubuntu 18.04.1**

### Issue Description
Following the instructions provided by https://github.com/geocoder-php/GeocoderLaravel/issues/131 or https://github.com/geocoder-php/GeocoderLaravel/issues/128 you can successfully get localized results, but those method

[2019-09-30 15:54] mikebronner commented on #159
Thanks, I will look into this. Can you provide an example that I can use as a test-case?

[2019-10-01 09:28] mattmant commented on #159
**First implementation**
I tried setting italian locale by configuring `config/geocoder.php`:
[code]
but it doesn't affect the query result, indeed `app('geocoder')->reverse(44.5266777, 11.3213184)->get()->first()->getFormattedAddress();` still returns english result:

That behavior would probably deserve a specific issue ticket (???).

As you can see, I configured caching on Redis and it successf

[2019-10-02 09:47] JaZo opened #160 "Installation issues with Laravel 6.1"
### General Information
GeocoderLaravel Version: 4.2.0
Laravel Version: 6.0, trying to install 6.1
PHP Version: 7.2
Operating System and Version: Ubuntu 18.04.3 LTS

### Issue Description
I can't update to Laravel 6.1 because #156 only added support for 6.0. Laravel is following semver now, so requiring '^6.0' should be fine.

### Steps to Replicate
1. Start new Laravel 6.0 project;
2. Install toi

[2019-10-02 11:03] mikebronner commented on #160
Thanks for reporting this :) I'll try to get this updated today or tomorrow (I've been out of the office for two weeks, so will be catching up and updating all my packages over the next few days).

[2019-10-02 14:58] #160 closed

[2019-10-02 15:06] #145 closed

[2019-10-15 14:11] osthafen opened #162 "After the recent Logger- commits I get a ReflectionException: Class Illuminate\Log\Logger does not exist"
### General Information
GeocoderLaravel Version:
Laravel Version: 5.5
PHP Version: 7.2

### Issue Description
After the recent Logger- commits I get a ReflectionException: Class Illuminate\Log\Logger does not exist

### Stack Trace
In   vendor/laravel/framework/src/Illuminate/Container/Container.php  on line 752
--
[code]

[2019-10-15 15:03] osthafen commented on #162
Logger isn't available in Laravel 5.5:
https://laravel.com/api/5.5/Illuminate/Log.html
In 5.6 it is:
https://laravel.com/api/5.6/Illuminate/Log.html

[2019-10-15 16:16] #162 closed

[2019-10-15 16:16] mikebronner commented on #162
@osthafen could you try release 4.2.3 and let me know how it goes?

[2019-10-15 17:28] tanthammar opened #163 "Algolia Provider"
### General Information
GeocoderLaravel Version: ^4.2
Laravel Version: 6
PHP Version: 7.3.8
Operating System and Version: OSX 10.14.6

### Issue Description
I do understand that this might not be the proper place to ask, but I was hoping that someone might have a solution. :)

Unable to get this to work with the Algolia geocoder provider
No errors, but always an empty collection returned.

(I have

[2019-10-15 17:32] mikebronner commented on #163
I posted this in the correct repo for you (see above link).

[2019-10-15 17:33] #163 closed

[2019-10-15 23:27] mikebronner commented on #163
@tanthammar Please continue the discussion in the other thread. They are asking for more details. Good luck.

[2019-10-16 09:31] osthafen commented on #162
@mikebronner Thanks a lot for your quick fix!
It seems to work.

[2019-10-16 15:52] mikebronner commented on #162
@osthafen Awesome! Thanks for letting me know. :)

[2019-10-22 00:15] budirec opened #165 "GeoArray dumper"
Can we add geoarray to dumper options?
I need to process the data in php and it's a waste to convert it to json then decode it.

[2019-11-06 07:10] kwarcu opened #166 "Class Illuminate\Log\Logger does not exist"
### General Information
GeocoderLaravel Version: 4.2.2
Laravel Version: 5.4
PHP Version: 7.2
Operating System and Version: MacOS/AWS Linux

### Issue Description
Getting `Class Illuminate\Log\Logger does not exist` fatal error. Issue appeared after updating lib from 4.2.0 to 4.2.2 and I suppose it is caused by this change: https://github.com/geocoder-php/GeocoderLaravel/compare/4.2.0..4.2.2#diff-1

[2020-02-03 08:40] extraric opened #167 "Location mismatch with Geocoder"
### General Information
GeocoderLaravel Version: 4.2.4
Laravel Version: 5.7
PHP Version: 7.2.7
Operating System and Version: SLES 12

### Issue Description
I don't know if it's just my fault, but i get different result for GeocodeLaravel:
`$address="1182 Budapest, Királyhágó utca 112/ B, Hungary";
$result1 = Geocoder::geocode($address)->get();`
and Geocode:
`$provider = new \Geocoder\Provider\Goog

[2020-02-04 11:54] extraric commented on #167
If I think right it has something to do with locale setting, what I can not set directly on the first case? #159

[2020-02-04 17:23] mikebronner commented on #167
Thanks for the update on this. Any PRs are welcomed, as I am fairly swamped at the moment.

[2020-02-13 09:27] samatcd commented on #141
For what it's worth, I had this issue and it was indeed due to incorrectly configured google maps API key.

However, even though I've resolved the problem with the API key, I'm still getting `null` / empty collection returned for the lat,long that I was testing with — If I change even one decimal place, I get results.

I'm presuming this has something to do with cached results, however I still get

[2020-02-13 10:48] dungnh commented on #101
I have same issue as this on Laravel 6.x and PHP 7.3. Please help.

[code]
and the result is:

[code]

[2020-02-14 20:55] luiscolmenares commented on #101
@dungnh try this:
$output = json_decode(app('geocoder')->geocode('Los Angeles, CA')->tojson());

It works as a workaround from what @mikebronner mentioned.

[2020-03-04 20:18] sheinfeld opened #168 "Undefined property: Geocoder\Provider\GoogleMaps\Model\GoogleAddress::$coordinates"
### General Information
GeocoderLaravel Version: Latest
Laravel Version: 6.
PHP Version: 7.3+
Operating System and Version: Windows 10

### Issue Description
I am trying to call the property "coordinates", but I always get the error "Undefined property: Geocoder\Provider\GoogleMaps\Model\GoogleAddress::$coordinates".

When I dd the object without "->coordinates" it shows everything, including the

[2020-03-04 21:14] mikebronner commented on #168
I believe you need to call `->getCoordinates()`, you can't access the properties directly.

[2020-03-04 21:14] #168 closed

[2020-03-15 15:48] bcwaretx opened #169 "Cache Duration should be defined in Seconds for Laravel 5.8+"
### General Information
GeocoderLaravel Version: 4.3
Laravel Version: 6.18.1 dev (Since 5.8)
PHP Version: 7.2.5+
Operating System and Version: MacOS 10.11 MAMP Pro 5.5

### Issue Description
Beginning with Laravel 5.8, cache TTL is defined in Seconds rather than Minutes. This was identified as a major breaking change:
https://laravel.com/docs/5.8/upgrade#cache-ttl-in-seconds
https://github.com/lar

[2020-03-17 13:19] mikebronner commented on #169
@bcwaretx Thanks for catching this! I will update documentation and config.

[2020-03-17 13:23] mikebronner commented on #169
@bcwaretx I'm a bit confused. This package's cache configuration is already measured in seconds, as the documentation in the config file states. Can you clarify why you think it is in minutes?

[2020-04-01 13:29] smknstd commented on #169
@mikebronner it's written in default config file

https://github.com/geocoder-php/GeocoderLaravel/blob/master/config/geocoder.php#L30

[2020-04-01 13:43] mikebronner commented on #169
Gotcha ... thanks for pointing that out! I'll get that fixed.

[2020-04-01 13:45] #169 closed

[2020-04-14 14:26] Itemshopp opened #171 "Region implementation in Google Maps ?"
### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.5.45
PHP Version: >=7.0.0
Operating System and Version: MacOS 10.13.6

### Issue Description
I can't find any documentation to fully understand how to add actual Region in Laravel Geocoder.php file. I red all f the questions already asnwered back in 2014 but code has changed.

Back in 2014 : 'Geocoder\Provider\GoogleMapsProvi

[2020-04-16 23:19] mikebronner commented on #171
Hi @Itemshopp, thanks for dropping by to ask the question. Regions are not the same as you think of them. The Google docs show the following: https://developers.google.com/places/web-service/search (search for region on the page, and look at the description in the options section).
They are two-digit country codes or region codes. These do not necessarily correspond to administrative regions.

[2020-04-17 10:13] Itemshopp commented on #171
Hi @mikebronner ,
I documented myself about the Google Maps geocode API earlier and found out this thing.
When you search about geocode parameters you find that article :

- https://developers.google.com/maps/documentation/geocoding/intro#geocoding

And when it talks about Region and Region Biasing here is the article :

- https://developers.google.com/maps/documentation/geocoding/intro#RegionCode

[2020-04-17 15:33] mikebronner commented on #171
Yes, it is set in the configuration files. If you want to have region bias for Belgium, just set it to "be" instead of "us".

[2020-04-17 15:33] #171 closed

[2020-05-06 00:46] omarmfs98 commented on #101
I am getting the same answer, please reopen this error

Illuminate\Support\Collection {#457 ▼
  #items: []
}

[2020-05-06 00:49] omarmfs98 opened #172 "Result return empty items"
### General Information
GeocoderLaravel Version: 4.3
Laravel Version: 7.0
PHP Version: 7.3
Operating System and Version: Ubuntu

### Issue Description
I'm showing the results and it doesn't show me anything:

[code]

### Steps to Replicate

so I have the geocoder.php

[code]

my method for show results:

[code]

I do it directly with the api and it gives me the results:

https://maps.googleapis.co

[2020-05-06 00:50] mikebronner commented on #101
@omarmfs98 Please provide the code you are using to get the output. `dd()` and `dump()` will not provide results, as the object contained in the collection don't fall back to an array.

[2020-05-06 00:56] mikebronner commented on #172
@omarmfs98 This is a duplicate of #101 . As explained there, `dd()` and `dump()` will not provide results, as the underlying objects in the container cannot be resolved to an array. This is an issue with the underlaying GeoCoder classes, not this repository itself.

I'll be happy to accept a PR that addresses this, but at this time the work involved for this is not worth it. You can get all the in

[2020-05-06 00:56] #172 closed

[2020-06-01 16:41] gpanos commented on #159
Run into this today i can confirm that since the ProviderAndDumperAggregator is not used there is no caching layer. Is this the recommended way to localize the results or maybe there is an alternative approach?
Thanks a lot!

[2020-06-17 17:27] wivaku opened #173 "force bypassing cache (i.e. force getting from provider instead of getting from cache)?"
### General Information
GeocoderLaravel Version: 4.3.2
Laravel Version: 7.15.0
PHP Version: 7.4.7
Operating System and Version: macOS

### Issue Description
How can I perform a request that bypasses the cache (i.e. force provider request)?
E.g. I have done a request using provider A and later want to perform the request using provider B.
The 2nd request returns the previous result from provider A.

[2020-06-17 17:44] wivaku opened #174 "how to use Google Maps Places provider: ->withData(...)?"
### General Information
GeocoderLaravel Version: 4.3.2
Laravel Version: 7.15.0
PHP Version: 7.4.7
Operating System and Version: macOS

### Issue Description
Google Maps Places states it expects additional parameter (key, name, type)
https://geocoder-php.org/docs/providers/googlemapsplaces/
[code]
How to use in Laravel?

### Steps to Replicate
[code]

[2020-06-17 17:46] wivaku commented on #174
never mind

[2020-06-17 17:46] #174 closed

[2020-06-17 18:09] mikebronner commented on #173
Thanks for submitting this. Will have to look into it, don't know off the top of my head.

[2020-06-18 13:20] wivaku commented on #173
Thanks Mike. Just in case: in the example I used two different providers, but the same question applies to requests using the same provider. E.g. the provider has updated the details of the Place and I want to force a new request.

[2020-06-20 19:19] njoyjoy opened #175 "get() returns empty array, all() returns with correct GEO Information"
### General Information
GeocoderLaravel Version: 4.3.2
Laravel Version: 7.16.1
PHP Version: 7.4
Operating System and Version: MacOS,  Laravel Homestead Vagrant
Provider: Google Maps API

### Issue Description
Using app('geocoder')->geocode('Los Angeles, CA')->get(), returns an empty result set from Google Maps API:
 Jun 20 12:03:04 homestead php [2020-06-20 19:03:04] local.WARNING: [{}]

Using app

[2020-06-20 19:28] mikebronner commented on #175
Thanks, I will try to replicate this.

[2020-06-20 19:35] mikebronner commented on #175
@njoyjoy  I am unable to replicate this, and the results actually return correct data. Please submit a PR with a failing test, if you are able to replicate it. In the meantime I will close this, as it appears to be an issue with your app. Feel free to reopen if you can provide more details.

[2020-06-20 19:35] #175 closed

[2020-06-20 19:37] mikebronner commented on #166
@kwarcu Sorry for taking so long to respond. I am not seeing this error, and am assuming it has since been resolved.

[2020-06-20 19:37] #166 closed

[2020-06-20 19:39] mikebronner commented on #165
@budirec Could you provide the code usage you would like to see. You can now do:
[code]

[2020-06-20 19:51] mikebronner commented on #173
Hi @wivaku, I added an option to disable caching as needed on a query-by-query bases. Please see the caching section in the README. Let me know how that works for you.

[2020-06-20 19:51] #173 closed

[2020-06-20 19:55] mikebronner commented on #159
If you are not using the `ProviderAndDumperAggregator` class, you are essentially bypassing this entire package. You might as well use Geocoder's php library directly. What is the use-case for bypassing things like this, and not instead configuring all your providers in the config file?

[2020-06-20 20:00] mikebronner commented on #154
I am unable to replicate this at this time. Chances are this has been fixed in a previous release. Please let me know if you are still getting this after updating to the latest release.

[2020-06-20 20:00] #154 closed

[2020-06-20 20:03] mikebronner commented on #146
In order to do reverse geocoding, you need to have a compatible geocoder provider configured, like GeoIP2, for example:

[code]

Closing this for now, as I am unable to replicate the problem.

[2020-06-20 20:03] #146 closed

[2020-06-20 20:05] mikebronner commented on #153
@iredmedia I am unable to replicate this. Can you try again with the latest release and let me know if it still is an issue.

[2020-06-20 20:05] #153 closed

[2020-06-21 11:42] wivaku commented on #173
great, thanks! I read "You can disable caching on a query-by-query basis as needed" (`doNotCache()`), as: "I make a request and the result is not cached".

A clearer description would perhaps be: ignore the existing cached result for that particular request, force the provider request, and cache the result from that request (and for me the method name `forceRequest()` would be clearer).

I did a q

[2020-06-21 12:27] gpanos commented on #159
Hey thanks for your reply. My use case is pretty simple: Localize the results to the user selected language. The only way that I was able to achieve this was by following the steps described in #131
Maybe I am missing something here but couldn't figure out a better way. Maybe simply localization is not supported in this package but i would love to hear back from you if i am overseeing something. A

[2020-06-21 16:12] mikebronner commented on #173
Hi @wivaku, thanks for the update. I went ahead and fixed the caching to only disable on the one request, and not keep the disabled state. I also updated caching to take the provider into account.

There is no way to determine if a query was cached or not, the result has no knowledge of how it was created.

[2020-06-21 16:24] mikebronner commented on #159
I was taking a look at how to implement caching by locale. At this time I don't have a solution yet. My recommendation would be to use `->doNotCache()` on this queries for the time being.

[2020-07-20 13:38] HamzaB-coder commented on #106
**General Information**
GeocoderLaravel Version: ^4.1
Laravel Version: 5.8.*
PHP Version:>=^7.1.3
Operating System and Version: Windows 10 with Laravel

**Issue Description**
I always receiving an Empty Collection.

Collection {#363 ▼ #items: [] }

**Steps to Replicate**
use Geocoder\Laravel\Facades\Geocoder;

$result = Geocoder::geocode('Los Angeles, CA')->get();

dd($result);

Google Place API K

[2020-07-20 13:56] mikebronner commented on #106
@HamzaB-coder if you `dd()` a get result, it will always show empty. Instead try:

[code]

[2020-07-20 14:02] HamzaB-coder commented on #106
tried this but didnt work ..
i got this error
"Call to undefined method Geocoder\\Laravel\\ProviderAndDumperAggregator::json()"

[2020-07-20 14:11] mikebronner commented on #106
Sorry, `->toJson()` instead of `->json`.

[2020-07-20 14:12] HamzaB-coder commented on #106
**Here is my code**

`  $result = app('geocoder')->geocode('Los Angeles, CA')->json();

        dd($result);`

**This is the facade am using**
`use Geocoder\Laravel\ProviderAndDumperAggregator as Geocoder;`

**This am using as provider in app.php**
  `Geocoder\Laravel\Providers\GeocoderService::class,`

**This is my geocoder.php file**
[code]
**This is the package am using in composer.json**
`"toi

[2020-07-20 14:14] HamzaB-coder commented on #106
Tried this also but got this error
"Return value of Geocoder\\Laravel\\ProviderAndDumperAggregator::toJson() must be of the type string, null returned"

[2020-07-20 16:31] mikebronner commented on #106
@HamzaB-coder Thanks, I'll take a look and see if I can reproduce this issue.

[2020-07-20 16:32] mikebronner opened #176 "`toJson()` not working on result set."
**General Information**
GeocoderLaravel Version: ^4.1
Laravel Version: 5.8.*
PHP Version:>=^7.1.3
Operating System and Version: Windows 10 with Laravel

**Issue Description**
I always receiving an Empty Collection.

Collection {#363 ▼ #items: [] }

**Steps to Replicate**
use Geocoder\Laravel\Facades\Geocoder;

$result = Geocoder::geocode('Los Angeles, CA')->get();

dd($result);

Google Place API K

[2020-07-21 14:07] elfeffe opened #177 "How to override Locale and API key on controller?"
This is more a question, is there any way to override the locale and the API?

[2020-07-21 15:07] mikebronner commented on #177
Yes, you can do it either in config, or during runtime, as explained here: https://github.com/geocoder-php/Geocoder/pull/408#discussion_r24653135

Hope this helps :)

[2020-07-21 15:07] #177 closed

[2020-07-21 18:49] mikebronner commented on #176
@HamzaB-coder I have been unable to reproduce the issue. I have the exact query in my unit tests, and it works fine. I'm fairly certain it is either a configuration issue or a conflict in your app. Please let me know if you can find out more.

[2020-07-21 22:37] elfeffe commented on #177
Thank you @mikebronner
But that’s for a chain, it is not the same, right?
How do you set locale here?
app('geocoder')->geocode('Los Angeles, CA')->get();

[2020-07-21 22:53] mikebronner commented on #177
@elfeffe You cannot set the locale on the query, you have to set it on the provider. The chain is like any other provider. Instead of chain in that example, you would need to spin up a GoogleMaps or Bing or whichever provider you want to use with your desired locale. Hope that helps?

[2020-07-22 09:47] HamzaB-coder commented on #176
Well Thanks @mikebronner . i want to ask about google API-KEY Maybe there i have some problem..Please have a look on it

**.env file**

[code]

[2020-07-22 12:22] HamzaB-coder commented on #176
Hi @mikebronner I have done some work on debugging of my project and i found that its only doing geocoding of location ip-address e-g 8.8.8.8 for USA and 2.2.2.2 for FRANCE and 1.1.1.1 for Australia .. can you tell me where the problem i have??. thanks

[2020-07-22 15:11] mikebronner commented on #176
It looks like your API Key is bad.

[2020-07-22 15:11] #176 closed

[2020-07-22 15:15] mikebronner commented on #167
@extraric If its the locale setting, you must set that in the config file.

[2020-07-22 22:00] elfeffe commented on #177
Ok, thanks for your help

[2020-07-27 19:01] raysirsharp opened #178 "MapBox Provider issue issue?"
### General Information
GeocoderLaravel Version:
Laravel Version: 6.18.27
PHP Version: 7.4.5
Operating System and Version: Homestead box

### Issue Description
[describe what is going wrong in plain english]

### Steps to Replicate
- install package
- publish config file (contents below)
- set map box key in .env
- clear cash and config
- php artisan tinker
- `app('geocoder')->geocode('Los Angeles

[2020-07-27 19:11] mikebronner commented on #178
@raysirsharp Can you please provide the GeocoderLaravel package version as defined in your composer.lock file? I just pushed release 4.3.4 that should address this.

[2020-07-27 19:30] raysirsharp commented on #178
Thanks for the quick response. I did have 4.3.0 and just updated to 4.3.4. Still getting the same error. @mikebronner

[2020-07-27 20:23] mikebronner commented on #178
@raysirsharp thanks for getting back to me. Looks like this is an issue with the MapBox Provider credentials, according to the exception. Can you try with Google, and see if it works there? I'm thinking this is down to your Mapbox configuration.

I believe you need to pass in the arguments for the MapBox Provider as follows:
[code]

[2020-07-27 21:19] raysirsharp commented on #178
@mikebronner you are right, switching the order fixed it, like this:

[2020-07-27 21:20] #178 closed

[2020-07-27 22:02] mikebronner commented on #178
@raysirsharp awesome, glad you got it working! :)

[2020-08-05 05:41] gajendra7590 opened #179 "Error: Call to undefined method Spatie\Geocoder\Facades\Geocoder::setApiKey()"
I am Using Laravel 7.X I have installed properly & also do configure properly as steped given on doc
but getting same error

I Followed Steps From : https://github.com/spatie/geocoder.

Also do config & cache clear, composer dump autoload ...... everything i have done but getting same error please do it why it is going on ...

I have
**PHP** : 7.4
**Laravel** : 7.X

**Please Review The Loom Video

[2020-08-05 05:47] #179 closed

[2020-08-05 05:47] gajendra7590 commented on #179
gdfgdfg

[2020-09-09 06:28] DiskoPete opened #180 "Laravel 8.x support"
First of all, thanks for your awesome work.

Are you planning to support/tag the just released Laravel 8 framework?

Thanks!

[2020-09-09 13:23] mikebronner commented on #180
Hi @DiskoPete, yes, will be updated shortly. :)

[2020-09-09 13:23] #180 closed

[2020-09-09 13:52] mikebronner commented on #180
Just released 4.4.0. Please let me know how that works for you.

[2020-11-10 00:31] #165 closed

[2021-02-24 01:31] atymic opened #181 "Using with providers constructed via static method"
### General Information
GeocoderLaravel Version: 4.4.4
PHP Version: 7.3
Operating System and Version: Ubuntu

### Issue Description
The here provider is constructed via a static method for new keys (this was to avoid a BC break) but this package only supports constructing via the constructor

### Steps to Replicate
Try to use here provider with API keys, get auth issue as it uses the api key as an

[2021-05-04 03:33] adddz opened #183 "I need to purge the empty cached results, how?"
As many others already mentioned, the library caches empty results (empty collections). All good up to here, but how can I purge those results?

[2021-05-04 03:39] adddz commented on #143
Hi @scottgrayson, how were you able to not cache empty results? I have a bunch of cached empty results that I don't know how to purge, too.

[2021-05-30 12:08] xippios commented on #171
Stumbled across this, as I was wondering the same thing. I understand how it is easily possible to set the region bias in the config, but how would I do this on the fly? Let's say one query should use the `be` bias and another needs the `cl` bias?

Thanks for letting me know if this is possible out of the box or if I need to figure something out on my own.

By the way: Great Library and Package 👍

[2021-06-23 09:23] maronkoders opened #184 "Getting a response with private and protected properties"
### General Information
GeocoderLaravel Version:
Laravel Version:  6.18.7
PHP Version: ^7.1.3
Operating System and Version:  Windows 10 Pro  (19041.867)

### Issue Description
[describe what is going wrong in plain english]

I have created my function that call the `$geocoder->geocode('Los Angeles, CA')->get()` . The problem is im getting private properties in the response body.Hence , i cannot wo

[2021-06-23 15:03] mikebronner commented on #184
Hi @maronkoders, if I understand you right, you aren't familiar with how to use the response you get back when making a query. This does indeed appear to be poorly documented by the Geocoder PHP documentation. However, the old documentation still shows the available methods: https://github.com/geocoder-php/Geocoder/blob/3.x/README.md#address--addresscollection

Hope this helps. :)

[2021-06-23 15:03] #184 closed

[2021-06-26 06:58] maronkoders commented on #184
Let me check it out .Thanks

[2021-06-27 09:22] chriserikhaugli opened #185 "Using createUsingApiKey for Here in chain-provider"
### General Information
GeocoderLaravel Version: 4.4
Laravel Version: 8.0
PHP Version: 7.4
Operating System and Version: Ubuntu 20.04

### Issue Description
Here is now using apiKey instead of app_id and app_code in new applications.
geocoder-php (issue [#1087](https://github.com/geocoder-php/Geocoder/issues/1087)) have fixed this by adding the `Here::createUsingApiKey`-method, and have left the c

[2021-06-27 09:41] chriserikhaugli commented on #185
I now see that this is a duplicate of #181 .

Sorry, will close this.

[2021-06-27 09:41] #185 closed

[2021-11-01 06:19] adddz commented on #183
I guess nobody is maintaining this repo anymore? :(

[2021-11-01 12:40] mikebronner commented on #183
@adddz Sorry for the late reply. Right now to purge those you would do something like `php artisan cache:clear`.

[2021-11-01 12:44] mikebronner commented on #183
Just released 4.4.5 with the PR that clears items from cache.

[2021-11-01 12:44] #183 closed

[2021-11-01 16:31] adddz commented on #183
Hi Mike, thank you so much.

Will this work even for when an address gets assigned latitude and longitude `0.000000`?

[2021-11-01 16:33] mikebronner commented on #183
@adddz unfortunately not. It will only remove the empty results. I'll be happy to consider a PR, if you have time to submit one.

[2021-11-01 16:38] adddz commented on #183
Sure. Just to understand, let's say the geocoder returns `0.000000` as lat/lng for an address, will it still save it in the cache then? I was thinking of adding a method to the geocoder that removes only a specific item from the cache.

[2021-11-01 16:58] mikebronner commented on #183
I believe that is correct: https://github.com/geocoder-php/GeocoderLaravel/pull/186/files#diff-acda5d354b2c91ce241087f5ae72c8c836de52a45ab812a69f2b5294fe9266c0R322

Perhaps you can add the appropriate logic there, if it makes sense to do so.

[2021-11-12 12:22] Jami-14 opened #187 "PROBLEMAS CON EL GEOCODING"
### General Information
Laravel Version: 8.69.0
Operating System and Version: Win 10

### Issue Description
Tengo problemas para que el leaflet me imprima la dirección, ciudad, etc. cuando ubico el pin.

## DEBERÍA SALIR ESTO
![DEBERIA](https://user-images.githubusercontent.com/94165690/141466104-16956a4a-ae60-4dd5-ab83-68b041deee19.PNG)

## Y esto sale

![lo que sale](https://user-images.githubus

[2022-02-21 10:50] mohammad-azzam-dev opened #190 "Class "Redis" not found"
After implementing all of the steps this error is occurring

Class "Redis" not found, and it referencing it on this class:[E:\projects\Laravel_projects\geopackadge\vendor\laravel\framework\src\Illuminate\Redis\Connectors\PhpRedisConnector.php : 32](phpstorm://open?file=E%3A%5Cprojects%5CLaravel_projects%5Cgeopackadge%5Cvendor%5Claravel%5Cframework%5Csrc%5CIlluminate%5CRedis%5CConnectors%5CPhpRedis

[2022-02-21 10:52] mohammad-azzam-dev commented on #190
sorry I did not add also I added this in the controller that I made:
    public function test(){
        return app('geocoder')->geocode('Los Angeles, CA')->get();

    }

and called it from a route

[2022-02-21 11:29] mikebronner commented on #190
To use a redis cache, you will also need to install a Redis driver:
https://laravel.com/docs/9.x/cache#driver-prerequisites

Please let me know if that resolves your issue.

[2022-11-29 10:24] Mitcal opened #192 ""The GeoPlugin provider does not support street addresses, only IP addresses""
### General Information
GeocoderLaravel Version: 4.4
Laravel Version: 8.79
PHP Version: 8.0
Operating System and Version: linux

### Issue Description
[describe what is going wrong in plain english]
Some UK postcodes seem to fail geocoding and I receive the above error.

### Steps to Replicate
[please provide a list of specific steps that will allow me to replicate this issue]
$geo = app('geocoder

[2022-11-29 16:02] Mitcal commented on #192
Hi @mikebronner,

Thanks for your reply. Here is an example of a postcode that for whatever reason Google Maps can't geocode (even though it shows up on their own maps).

https://maps.googleapis.com/maps/api/geocode/json?address=BR3%201SY&key=GOOGLE_API_KEY

I think I'm using most of the defaults in my config file but here it is:

[code]

It seems like what's happening is the lookup fails, so then